@{
    ViewBag.Title = "Disbursement";
}
<script>
    $("#fdisbursement").addClass("active");
</script>
<div class="content-header row">
    <div class="content-header-left col-md-6 mb-2">
        <h3 class="content-header"><b>File Maintenance - Disbursement</b></h3>
    </div>
</div>
    <div class="card-content" id="FMDisbursementController" ng-controller="FMDisbursementController" ng-init="InitAllFunction();">
       <div class="card">
                <ul class="nav nav-tabs bg-headerbc nav-underline">
                    <li class="nav-item">
                        <a class="nav-link " id="base-tab1" data-toggle="tab" aria-controls="tab1" href="#tab1" aria-expanded="true"><b>Check Inventory</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="base-tab2" data-toggle="tab" aria-controls="tab2" href="#tab2" aria-expanded="false"><b>Check Maintenance</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" id="base-tab3" data-toggle="tab" aria-controls="tab3" href="#tab3" aria-expanded="false"><b>DV Type</b></a>
                    </li>
                </ul>
                <div class="tab-content px-1 pt-1">
                    @* Check Inventory *@
                    <div role="tabpanel" class="tab-pane " id="tab1" aria-expanded="true" aria-labelledby="base-tab1">
                        <div class="content-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card-block">
                                        <div class="card-header bg-carheadercolor">
                                            <h4 class="card-title black"><b>Check Inventory</b></h4>
                                        </div>
                                        <div class="card-body box-shadow-2" id="_CheckInventoryID">

                                        </div>
                                        <div class="card-body box-shadow-2 mt-1" id="_CheckInventoryTableID">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @* Check Maintenance *@
                    <div role="tabpanel" class="tab-pane" id="tab2" aria-expanded="true" aria-labelledby="base-tab2">
                        <div class="content-body" id="">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card-block">
                                        <div class="card-header bg-carheadercolor">
                                            <h4 class="card-title black"><b>Bank Account</b></h4>
                                        </div>
                                        <div class="card-body box-shadow-2" id="_checkMaintenanceID">

                                        </div>
                                    </div>
                                    <div class="card-block mt-1">
                                        <div class="card-header bg-carheadercolor">
                                            <h4 class="card-title black"><b>Check Details</b></h4>
                                        </div>
                                        <div class="card-body box-shadow-2" id="_checkMaintenanceTableID">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @* DV Type *@
                    <div role="tabpanel" class="tab-pane active" id="tab3" aria-expanded="true" aria-labelledby="base-tab3">
                        <div class="content-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card-block">
                                        <div class="card-header bg-carheadercolor">
                                            <h4 class="card-title black"><b>DV Type</b></h4>
                                        </div>
                                        <div class="card-body box-shadow-2" id="DVTypeID">

                                        </div>
                                    </div>
                                    <div class="card-block mt-1">
                                        <div class="card-header bg-carheadercolor">
                                            <h4 class="card-title black"><b>List of DV Types</b></h4>
                                        </div>
                                        <div class="card-body box-shadow-2" id="DVTypeTableID">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <script>

    @*Angular Function*@
    app.controller('FMDisbursementController', function ($scope, $http, $sce) {
        var F = $scope, P = $http, D = $sce.trustAsHtml;

        F.InitAllFunction = function () {
            //DV Type Table
            F.Get_DVTypeTable();
            F.Get_CheckInventoryTable();
            F.Get_CheckMaintenanceTable();
        }
        //Check Inventory
        F.LoadDynamicDDAccountName = function () {
            var BankAccountID = $("#BankIDDD").val()
          
            P({
                url: '/FileMaintenanceDisbursement/GetDynamicAccountName',
                params: { BankAccountID: BankAccountID }
            }).then(function (response) {
                $("#_DynamicDDAccountNameID").html(response.data);
            });
        }
        F.LoadSelectDynamicDDAccountName = function () {
            var CheckInventoryAccountNameIDTempID = $("#CheckInventoryAccountNameIDTempID").val();
            P({
                url: '/FileMaintenanceDisbursement/GetSelectedDynamicAccountName',
                params: { CheckInventoryAccountNameIDTempID: CheckInventoryAccountNameIDTempID }
            }).then(function (response) {
                $("#_DynamicDDAccountNameID").html(response.data);
            });
        }
        F.Get_CheckInventoryTable = function () {
            P({
                url: '/FileMaintenanceDisbursement/Get_CheckInventoryTable',
            }).then(function (response) {
                $("#_CheckInventoryTableID").html(response.data);
            });
            F.Get_AddCheckInventory();
        }
        F.Get_AddCheckInventory = function () {
            P({
                url: '/FileMaintenanceDisbursement/Get_AddCheckInventory',
            }).then(function (response) {
                $("#_CheckInventoryID").html(response.data);
                F.LoadDynamicDDAccountName();
                F.LoadDynamicCheckMaintenanceInventory();
                });
          
        }
        F.Get_UpdateCheckInventory = function (CheckInvntID) {
            P({
                url: '/FileMaintenanceDisbursement/Get_UpdateCheckInventory',
                params: { CheckInvntID: CheckInvntID }
            }).then(function (response) {
                $("#_CheckInventoryID").html(response.data);
                F.LoadSelectDynamicDDAccountName();
            });
        }
        F.Get_DeleteCheckInventory = function (CheckInvntID) {
            P({
                url: '/FileMaintenanceDisbursement/DeleteCheckInventory',
                params: { CheckInvntID: CheckInvntID }
            }).then(function (response) {
                F.Get_CheckInventoryTable();
            });
        }

        //Check Maintenance
        F.Get_CheckMaintenanceTable = function () {
            P({
                url: '/FileMaintenanceDisbursement/Get_CheckMaintenanceTable',
            }).then(function (response) {
                $("#_checkMaintenanceTableID").html(response.data);
            });
            F.Get_AddCheckMaintenance();
        }
        F.Get_AddCheckMaintenance = function () {
            P({
                url: '/FileMaintenanceDisbursement/Get_AddCheckMaitenance',
            }).then(function (response) {
                $("#_checkMaintenanceID").html(response.data);
                F.LoadDynamicDDAccountName2(); 
                F.Get_CheckInventoryTable();
            });
        }
        F.LoadDynamicDDAccountName2 = function () {
            var BankAccountID = $("#BankIDDD2").val()
            P({
                url: '/FileMaintenanceDisbursement/GetDynamicMaitenance',
                params: { BankAccountID: BankAccountID }
            }).then(function (response) {
                $("#_DynamicDDAccountID").html(response.data);
                F.Get_AddCheckMaintenanceInventory();
            });
        }
        F.Get_AddCheckMaintenanceInventory = function () {
            P({
                url: '/FileMaintenanceDisbursement/Get_AddCheckMaintenanceInventory',
            }).then(function (response) {
                $("#_CheckInventoryPVID").html(response.data);
                F.LoadDynamicCheckMaintenanceInventory();
            });
        }
        F.LoadDynamicCheckMaintenanceInventory = function () {
            var BankID = $("#BankIDDD2").val()
            var AccountNameIDDD2 = $("#AccountNameIDDD2").val()
            if (AccountNameIDDD2 == null) {
                AccountNameIDDD2 = 0;
            }
            P({
                url: '/FileMaintenanceDisbursement/LoadDynamicCheckMaintenanceInventory',
                params: { BankID: BankID, AccountNameIDDD2: AccountNameIDDD2}
            }).then(function (response) {
                $("#_DynamicDDStartingNoID").html(response.data);
                F.Get_CheckMaintenanceQuantyNEnd();
            });
        }
        F.Get_CheckMaintenanceQuantyNEnd = function () {
            var BankID = $("#BankIDDD2").val();
            var BankAccountID = $("#AccountNameIDDD2").val();
            var StartingChckNo = $("#AccountNameInventoryIDDD2 option:selected").text();
            if (StartingChckNo == null || StartingChckNo == "" || BankAccountID == null || BankAccountID == "") {
                StartingChckNo = 0;
                BankAccountID = 0;
            }
            P({
                url: '/FileMaintenanceDisbursement/Get_CheckMaintenanceQuantyNEnd',
                params: { BankID: BankID, BankAccountID: BankAccountID, StartingChckNo: StartingChckNo }
            }).then(function (response) {
                $("#_DynamicTBQuanEnding").html(response.data);
            });
        }
        F.Get_UpdateCheckMaintenance = function (CheckMainteID) {
            P({
                url: '/FileMaintenanceDisbursement/Get_UpdateCheckMaintenance',
                params: { CheckMainteID: CheckMainteID }
            }).then(function (response) {
                $("#_checkMaintenanceID").html(response.data);
                F.GetLoadDynamicDDAccountName();
            });
        }
        F.GetLoadDynamicDDAccountName = function () {
            var CheckMaintenanceBankIDTempID = $("#CheckMaintenanceBankIDTempID").val();
            P({
                url: '/FileMaintenanceDisbursement/GetSelectedDynamicMaitenance',
                params: { CheckMaintenanceBankIDTempID: CheckMaintenanceBankIDTempID }
            }).then(function (response) {
                $("#_DynamicDDAccountID").html(response.data);
            });
        }
        F.Get_DeleteCheckMaintenance = function (CheckMainteID) {
            P({
                url: '/FileMaintenanceDisbursement/DeleteCheckMaintenance',
                params: { CheckMainteID: CheckMainteID }
            }).then(function (response) {
                F.Get_CheckMaintenanceTable();
            });
        }

        //DV Type
        F.Get_DVTypeTable = function () {
            P({
                url: '/FileMaintenanceDisbursement/Get_DVTypeTable',
            }).then(function (response) {
                $("#DVTypeTableID").html(response.data);
            });
            F.Get_AddDVType();
        }
        F.Get_AddDVType = function () {
            P({
                url: '/FileMaintenanceDisbursement/Get_AddDVType',
            }).then(function (response) {
                $("#DVTypeID").html(response.data);
            });
        }
        F.Get_UpdateDVType = function (DVTypeID) {
            P({
                url: '/FileMaintenanceDisbursement/Get_UpdateDVType',
                params: { DVTypeID: DVTypeID }
            }).then(function (response) {
                $("#DVTypeID").html(response.data);
            });
        }
        F.Get_DeleteDVType = function (DVTypeID) {
            P({
                url: '/FileMaintenanceDisbursement/DeleteDVType',
                params: { DVTypeID: DVTypeID }
            }).then(function (response) {
                F.Get_DVTypeTable();
            });
        }
        });
    </script>
