@{
    ViewBag.Title = "Disbursement";
}
<script>
    $("#fdisbursement").addClass("active");
</script>
<div class="content-header row">
    <div class="content-header-left col-md-6 mb-2">
        <h3 class="content-header"><b>File Maintenance - Disbursement</b></h3>
    </div>
</div>
    <div class="card-content font-weight-bold black" id="FMDisbursementController" ng-controller="FMDisbursementController" ng-init="InitAllFunction();">
        <div class="card-body box-shadow-2">
            <div class="card" style="border: 1px solid; border-color: #EABEBB">
                <ul class="nav nav-tabs bg-headerbc">
                    <li class="nav-item bg-headerbc">
                            <a class="nav-link active text-white" id="base-tab1" data-toggle="tab" aria-controls="tab1" href="#tab1" aria-expanded="true">Check Inventory</a>
                        </li>
                        @*<li class="nav-item bg-headerbc">
                            <a class="nav-link text-white" id="base-tab2" data-toggle="tab" aria-controls="tab2" href="#tab2" aria-expanded="false">Check Maintenance</a>
                        </li>*@
                    <li class="nav-item bg-headerbc">
                        <a class="nav-link text-white" id="base-tab3" data-toggle="tab" aria-controls="tab3" href="#tab3" aria-expanded="false">DV Type</a>
                    </li>
                </ul>
                <div class="tab-content px-1 pt-1">
                    @* Check Inventory *@
                    <div role="tabpanel" class="tab-pane active" id="tab1" aria-expanded="true" aria-labelledby="base-tab1">
                        <div class="content-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card-block">
                                        <div class="card-header bg-carheadercolor">
                                            <h4 class="card-title black"><b>Check Inventory</b></h4>
                                        </div>
                                        <div class="card-body box-shadow-2" id="_CheckInventoryID">
                                       
                                        </div>
                                        <div class="card-body box-shadow-2 mt-1" id="_CheckInventoryTableID">
                                          
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @* DV Type *@
                    <div role="tabpanel" class="tab-pane" id="tab3" aria-expanded="true" aria-labelledby="base-tab3">
                        <div class="content-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card-block">
                                        <div class="card-header bg-carheadercolor">
                                            <h4 class="card-title black"><b>DV Type</b></h4>
                                        </div>
                                        <div class="card-body box-shadow-2" id="DVTypeID">

                                        </div>
                                    </div>
                                    <div class="card-block mt-1">
                                        <div class="card-header bg-carheadercolor">
                                            <h4 class="card-title black">List of DV Types</h4>
                                        </div>
                                        <div class="card-body box-shadow-2" id="DVTypeTableID">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>

    @*Angular Function*@
    app.controller('FMDisbursementController', function ($scope, $http, $sce) {
        var F = $scope, P = $http, D = $sce.trustAsHtml;

        F.InitAllFunction = function () {
            //DV Type Table
            F.Get_DVTypeTable();
            F.Get_CheckInventoryTable();
          
        }
        //Check Inventory
        F.LoadDynamicDDAccountName = function () {
  
           var BankAccountID = $("#BankIDDD").val()
            P({
                url: '/FileMaintenanceDisbursement/GetDynamicAccountName',
                params: { BankAccountID: BankAccountID }
            }).then(function (response) {
                $("#_DynamicDDAccountNameID").html(response.data);
            });
        }
        F.Get_CheckInventoryTable = function () {
            P({
                url: '/FileMaintenanceDisbursement/Get_CheckInventoryTable',
            }).then(function (response) {
                $("#_CheckInventoryTableID").html(response.data);
            });
            F.Get_AddCheckInventory();
        }
        F.Get_AddCheckInventory = function () {
            P({
                url: '/FileMaintenanceDisbursement/Get_AddCheckInventory',
            }).then(function (response) {
                $("#_CheckInventoryID").html(response.data);
                F.LoadDynamicDDAccountName();
                });
          
        }
        //DV Type
        F.Get_DVTypeTable = function () {
            P({
                url: '/FileMaintenanceDisbursement/Get_DVTypeTable',
            }).then(function (response) {
                $("#DVTypeTableID").html(response.data);
            });
            F.Get_AddDVType();
        }
        F.Get_AddDVType = function () {
            P({
                url: '/FileMaintenanceDisbursement/Get_AddDVType',
            }).then(function (response) {
                $("#DVTypeID").html(response.data);
            });
        }
        F.Get_UpdateDVType = function (DVTypeID) {
            P({
                url: '/FileMaintenanceDisbursement/Get_UpdateDVType',
                params: { DVTypeID: DVTypeID }
            }).then(function (response) {
                $("#DVTypeID").html(response.data);
            });
        }
        F.Get_DeleteDVType = function (DVTypeID) {
            P({
                url: '/FileMaintenanceDisbursement/DeleteDVType',
                params: { DVTypeID: DVTypeID }
            }).then(function (response) {
                F.Get_DVTypeTable();
            });
        }
        });
    </script>
