@model TOSS_UPGRADE.Models.FM_CollectionAndDeposit.FM_CollectionAndDeposit_AssignmentAF
@{
    DB_TOSSEntities SISDB = new DB_TOSSEntities();
}
@using TOSS_UPGRADE.Models;
<div class="row">
    <div class="col-md-4 form-group">
        <label>Stub No.</label>
        @Html.TextBoxFor(m => m.AccountableFormAssignmentStubNoID, new { @class = "form-control", type = "text", @disabled = "disabled" })
    </div>
    <div class="col-md-4 form-group">
        <label>Ending OR</label>
        @Html.TextBoxFor(m => m.AccountableFormAssignmentEndingORID, new { @class = "form-control", type = "text", @disabled = "disabled" })
    </div>
    <div class="col-md-4 form-group">
        <label>Quantity</label>
        @Html.TextBoxFor(m => m.AccountableFormAssignmentQuantityID, new { @class = "form-control", type = "text", @disabled = "disabled" })
    </div>
</div>