<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-striped table-bordered zero-configuration w-100">
                <thead>
                    <tr>
                        <th>Stub No.</th>
                        <th>Starting Account</th>
                        <th>Ending Account</th>
                        <th>Quantity</th>
                        <th>OR Description</th>
                        <th width="5px;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><button type="button" class="btn btn-icon bg-headerbc text-white" data-toggle="popoverCashAssignment" onfocusout="ClosePopOver2()" data-placement="left" data-conztainer="body" data-original-title=""> <i class="la la-reorder"></i></button></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
