@model TOSS_UPGRADE.Models.FM_Sectors.FM_Sector
@{
    DB_TOSSEntities TOSSDB = new DB_TOSSEntities();
}
@using TOSS_UPGRADE.Models;
<label><b>Sector Code</b></label>
<div class="input-group mt-0">
    <span class="input-group-addon" id="basic-addon1"><b>1000 -</b></span>
    <input type="text" class="form-control" name="name" value="" />
</div>