@model TOSS_UPGRADE.Models.FM_SignatoriesModel
@{
    DB_TOSSEntities TOSSDB = new DB_TOSSEntities();
}
@using TOSS_UPGRADE.Models;


<label>Position</label>
<span class="input-group-append" id="button-addon2">
    @Html.DropDownListFor(m => m.PositionID, Model.PositionList, new { @class = "form-control select2", id = "SignatoriesIDD" })
    <button class="btn bg-addbutton" type="button"  data-toggle="modal" data-target="#addPositionModal" ng-click="Get_PositionTable()"><strong>+</strong></button>
</span>
<script>
    $(function () {
        $("#SignatoriesIDD").select2();
    })
</script>