@model TOSS_UPGRADE.Models.FM_SignatoriesModel
@{
    DB_TOSSEntities SISDB = new DB_TOSSEntities();
}
@using TOSS_UPGRADE.Models;

@using (Ajax.BeginForm("AddSignatories", "FileMaintenanceSignatories", new AjaxOptions { OnSuccess = "AngularGlobalAlertsCallingNoModalNoSuccessWithDoubleFunc('FMSignatoriesController', 'GetListOfSignatories','SuccessSave1')", OnFailure = "OnFailure()", }))
{

<div class="row">
    <div class="col-md-4 form-group">
        <label>Signatory Name</label>
        @Html.TextBoxFor(m => m.getSignatoriesColumns.SignatoriesName, new { @class = "form-control", type = "text", ng_model = "SignatoriesNameID" })
        @Html.ValidationMessageFor(model => model.getSignatoriesColumns.SignatoriesName)

    </div>
    <div class="col-md-5 pl-0 form-group" id="_DynamicDDPositionNameID">

    </div>
    @Html.HiddenFor(m => m.isDeptHeads, new { id="isDeptHeadID"})
    <div class="col-md-3">
        <label>If Department Head?</label>
        <select class="form-control" id="isDeptHeadDD" onchange="IsDeptHeadOnChange()">
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>
    </div>
</div>

    <div class="row">
        <div class="col-md-9 form-group" id="_DynamicDDDepartmentID">

        </div>
        <div class="col-md-1 form-group">
          
        </div>
        <div class="col-md-2 form-group">
            <label style="visibility:hidden">Position</label>
            <button type="submit" class="btn bg-addbutton form-control black"><b>Save</b></button>
        </div>
    </div>
}

    <script>
        $(function () {
            IsDeptHeadOnChange()
        })
        function IsDeptHeadOnChange() {
            var isDeptHeadValue = $("#isDeptHeadDD").val();
            $("#isDeptHeadID").val(isDeptHeadValue);
        }
    </script>