@model TOSS_UPGRADE.Models.FM_SignatoriesModel
@{
    DB_TOSSEntities SISDB = new DB_TOSSEntities();
}
@using TOSS_UPGRADE.Models;

@using (Ajax.BeginForm("AddSignatories", "FileMaintenanceSignatories", new AjaxOptions { OnSuccess = "AngularGlobalAlertsCallingNoModalNoSuccessWithDoubleFunc('FMSignatoriesController', 'GetListOfSignatories','SuccessSave1')", OnFailure = "OnFailure()", }))
{

<div class="row black">
    <div class="col-md-4 form-group">
        <label><b>Employee Name</b></label>
        @Html.TextBoxFor(m => m.getSignatoriesColumns.SignatoriesName, new { @class = "form-control", type = "text", ng_model = "SignatoriesNameID" })
        @Html.ValidationMessageFor(model => model.getSignatoriesColumns.SignatoriesName)

    </div>
    <div class="col-md-5 form-group" id="_DynamicDDDepartmentID">

    </div>
    @Html.HiddenFor(m => m.isDeptHeads, new { id="isDeptHeadID"})
    <div class="col-md-3">
        <label><b>If Department Head?</b></label>
        <select class="form-control" id="isDeptHeadDD" onchange="IsDeptHeadOnChange()">
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>
    </div>
</div>
<div class="row black">
    <div class="col-md-4 form-group" id="_DynamicDDPositionNameID">

    </div>

    <div class="col-md-5 form-group">
        <label><b>Division</b></label>
        <input type="text" class="form-control" value="" />
    </div>
    <div class="col-md-3 form-group">
        <label><b>Is Active</b></label>
        <select class="form-control">
            <option>Yes</option>
            <option>No</option>
        </select>
    </div>
    @*<div class="col-md-2 mr-1 form-group row skin skin-square">
            <label style="visibility:hidden">Accountable Form</label>
            <fieldset>
                <input type="checkbox" name="name" value="" class="form-control icheckbox_square-red" />
                <label><b>Is Active</b></label>
            </fieldset>
        </div>*@
 
</div>
<div class="row black">
    <div class="col-md-8"></div>
    <div class="col-md-2 form-group">
        <button type="submit" class="btn bg-addbutton form-control black"><b>Add</b></button>
    </div>
    <div class="col-md-2 form-group">
        <button type="reset" class="btn bg-headerbc form-control white"><b>Cancel</b></button>
    </div>
</div>
}

    <script>
        $(function () {
            IsDeptHeadOnChange()
        })
        function IsDeptHeadOnChange() {
            var isDeptHeadValue = $("#isDeptHeadDD").val();
            $("#isDeptHeadID").val(isDeptHeadValue);
        }
    </script>