@model TOSS_UPGRADE.Models.FM_GeneralReference.FM_GeneralReference_MemoAccountClass
@{
    DB_TOSSEntities SISDB = new DB_TOSSEntities();
}
@using TOSS_UPGRADE.Models;

@using (Ajax.BeginForm("AddAccountCode", "FileMaintenanceGeneralReference", new AjaxOptions { OnSuccess = "AngularGlobalAlertsCallingNoModalNoSuccessWithTripleFunc('FMGeneralReferenceController', 'Get_AccountCodeTable',  'LoadDynamicDDMemoAccClass','SuccessSave1')", OnFailure = "OnFailure()", }))
{
    <div class="row">
        <div class="col-md-8">
            <label class="mt-1">Account Name</label>
            @Html.TextBoxFor(m => m.getMMAccountTitleColumns.AccountTitle, new { @class = "form-control", type = "text" })
        </div>
        <div class="col-md-4">
            <label class="mt-1">Account Code</label>
            @Html.TextBoxFor(m => m.getMMAccountTitleColumns.AccountCode, new { @class = "form-control", type = "text" })
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-md-8"></div>
        <div class="col-md-2">
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn bg-addbutton form-control black">
                <b>Save</b>
            </button>
        </div>
    </div>
}
<script>
    $(function () {
        LoadDataTable();
        LoadPopOver();
    })
</script>


