@model TOSS_UPGRADE.Models.FM_GeneralReference.FM_GeneralReference_MemoAccountClass
@{
    DB_TOSSEntities SISDB = new DB_TOSSEntities();
}
@using TOSS_UPGRADE.Models;

@using (Ajax.BeginForm("UpdateAccountCode", "FileMaintenanceGeneralReference", new AjaxOptions { OnSuccess = "AngularGlobalAlertsCallingNoModalNoSuccessWithTripleFunc('FMGeneralReferenceController', 'Get_AccountCodeTable',  'LoadDynamicDDMemoAccClass','SuccessUpdate1')", OnFailure = "OnFailure()", }))
{
<div class="row">
    @Html.HiddenFor(m => m.getMMAccountTitleColumns.AccountCodeID, new { })
    <div class="col-md-5 pr-0">
        <label>Account Name</label>
        @Html.TextBoxFor(m => m.getMMAccountTitleColumns.AccountTitle, new { @class = "form-control", type = "text" })
    </div>
    <div class="col-md-3 pr-0">
        <label>Account Code</label>
        @Html.TextBoxFor(m => m.getMMAccountTitleColumns.AccountCode, new { @class = "form-control", type = "text" })
    </div>
    <div class="col-md-2 pr-0">
        <label style="visibility:hidden">Account</label>
        <button type="submit" class="btn bg-addbutton form-control black">
            <b>Save</b>
        </button>
    </div>

    <div class="col-md-2">
        <label style="visibility:hidden">Account</label>
        <button type="reset" class="btn bg-headerbc white form-control" onclick="AngularGlobalEdit('FMGeneralReferenceController','Get_AddAccountCode','')"><b>Cancel</b></button>
    </div>
</div>
}
<script>
    $(function () {
        LoadDataTable();
        LoadPopOver();
    })
</script>



