@* Accountable Forms *@
@{
    ViewBag.Title = "Collection And Deposit";
}
<script>
    $("#collectionanddeposit").addClass("active");
</script>
<div class="content-header row">
    <div class="content-header-left col-md-6 mb-2">
        <h3 class="content-header"><b>File Maintenance - Collection And Deposit</b></h3>
    </div>
</div>

<div class="card" style="border: 1px solid; border-color: #EABEBB" id="FMCollectionDepositController" ng-controller="FMCollectionDepositController" ng-init="InitAllFunction();">
    <ul class="nav nav-tabs font-medium-1 bg-headerbc text-center">
        <li class="nav-item bg-headerbc">
            <a class="nav-link active text-white" id="base-tab1" data-toggle="tab" aria-controls="tab1" href="#tab1" aria-expanded="true"><b>Accountable Forms</b></a>
        </li>
        @*<li class="nav-item bg-headerbc">
                <a class="nav-link text-white" id="base-tab3" data-toggle="tab" aria-controls="tab3" href="#tab3" aria-expanded="false">Accountable Forms Assignment</a>
            </li>
            <li class="nav-item bg-headerbc">
                <a class="nav-link text-white" id="base-tab4" data-toggle="tab" aria-controls="tab4" href="#tab4" aria-expanded="false">Barangays</a>
            </li>
            <li class="nav-item bg-headerbc">
                <a class="nav-link text-white" id="base-tab5" data-toggle="tab" aria-controls="tab5" href="#tab5" aria-expanded="false">Barangay Collectors</a>
            </li>
            <li class="nav-item bg-headerbc">
                <a class="nav-link text-white" id="base-tab6" data-toggle="tab" aria-controls="tab6" href="#tab6" aria-expanded="false">Fees</a>
            </li>
            <li class="nav-item bg-headerbc">
                <a class="nav-link text-white" id="base-tab7" data-toggle="tab" aria-controls="tab7" href="#tab7" aria-expanded="false">Collector Account Activation</a>
            </li>*@
    </ul>
    <div class="tab-content px-1 pt-1 font-weight-bold black">
        @* Accountable Form *@
        <div role="tabpanel" class="tab-pane active" id="tab1" aria-expanded="true" aria-labelledby="base-tab1">
            <div class="content-body">
                @* AF *@
                <div class="row mt-1">
                    <div class="col-12 col-xl-12 ">
                        <div class="card box-shadow-2">
                            <div class="card-header bg-carheadercolor mt-1">
                                <h4 class="card-title black"><b>Accountable Forms Details</b></h4>
                                <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="collapse"><i class="ft-minus text-white"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-content collapse">
                                <div class="card-body box-shadow-2">
                                    <div class="card box-shadow-2" id="_AccountableFormID">

                                    </div>

                                    <div class="row">
                                        <div class="col-md-12" id="_AccountableFormTableID">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @* Add Description Modal *@
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                        <div class="modal animated zoomIn text-left" id="addDescriptionModal" role="dialog">
                            <div class="modal-dialog" style="max-width:500px" role="document">
                                <div class="modal-content">
                                    <div class="modal-header bg-headerbc white">
                                        <h4 class="modal-title white"><i class="la la-plus mr-1"></i>Description</h4>
                                        <button class="btn bg-headerbc pull-right p-0 white" data-dismiss="modal"><i class="la la-close"></i></button>
                                    </div>
                                    <div class="modal-body skin skin-square">
                                        <div class="row">
                                            <div class="col-md-12" id="_DescriptionxID">

                                            </div>
                                        </div>
                                        <div class="row mt-1" id="_DescriptionTableID">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @* Inventory AF *@
                <div class="card-block">
                    <div class="card box-shadow-2">
                        <div class="card-header bg-carheadercolor mt-1">
                            <h4 class="card-title black"><b>Inventory of Accountable Forms</b></h4>
                            <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                            <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li><a data-action="collapse"><i class="ft-minus text-white"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-content collapse">
                            <div class="card-body box-shadow-2">
                                <div class="content-body">
                                    <div class="row mt-1">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-10">
                                            <div class="row">
                                                <div class="col-md-3 mt-1 form-group">
                                                    <fieldset class="radio">
                                                        <label><input type="radio" name="radio" id="radioOR">Official Receipt</label>
                                                    </fieldset>
                                                </div>
                                                <div class="col-md-3 mt-1 form-group">
                                                    <fieldset class="radio">
                                                        <label><input type="radio" name="radio" id="radioTickets">Cash Tickets</label>
                                                    </fieldset>
                                                </div>
                                                <div class="col-md-4 mt-1 form-group">
                                                    <fieldset class="radio">
                                                        <label><input type="radio" name="radio" id="radioCTC">Community Tax Certificate</label>
                                                    </fieldset>
                                                </div>
                                                <div class="col-md-2 form-group">
                                                    <button class="btn bg-addbutton black"><b>View AF Details</b></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @* Official Report *@
                            <div id="DivOfficalReceipt">
                                <div class="card-header bg-carheadercolor mt-1">
                                    <h4 class="card-title black"><b>Official Receipt Details</b></h4>
                                </div>
                                <div class="card-content collapse show">
                                    <div class="card-body box-shadow-2">
                                        <div id="_ORDetailsID">

                                        </div>
                                        <div id="_ORDetailsTableID">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            @* Cash Ticket *@
                            <div id="DivCashTickets">
                                <div class="card-header bg-carheadercolor mt-1">
                                    <h4 class="card-title black"><b>Cash Ticket Details</b></h4>
                                </div>
                                <div class="card-content collapse show">
                                    <div class="card-body box-shadow-2">
                                        <div id="_CTDetailsID">

                                        </div>
                                        <div id="_CTDetailsTableID">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            @* Community Tax Certificate *@
                            <div id="DivCommunityTaxCertificate">
                                <div class="card-header bg-carheadercolor mt-1">
                                    <h4 class="card-title black"><b>Community Tax Certificate Details</b></h4>
                                </div>
                                <div class="card-content collapse show">
                                    <div class="card-body box-shadow-2">
                                        <div id="_CTCDetailsID">

                                        </div>
                                        <div id="_CTCDetailsTableID">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @* Assignment AF *@
                <div class="content-body">
                    @* OR/Cash Ticket Assignment *@
                    <div class="card box-shadow-2">
                        <div class="card-header bg-carheadercolor mt-1">
                            <h4 class="card-title black"><b>Assignment of Accountable Forms</b></h4>
                            <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                            <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li><a data-action="collapse"><i class="ft-plus text-white"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-content show">
                            <div class="content-body">
                                <div class="card-block">
                                    <div class="card-body box-shadow-2">
                                        <div class="card-content collapse show">
                                            <div class="card-body box-shadow-2">
                                                <div class="row">
                                                    <div class="col-md-1"></div>
                                                    <div class="col-md-3  form-group">
                                                        <fieldset class="radio">
                                                            <label><input type="radio" name="radio" id="radioTCAssignAF">Treasurer's Collection</label>
                                                        </fieldset>
                                                    </div>
                                                    <div class="col-md-2 px-0 form-group">
                                                        <fieldset class="radio">
                                                            <label><input type="radio" name="radio" id="radioFCAssignAF">Field Collectors</label>
                                                        </fieldset>
                                                    </div>
                                                    <div class="col-md-2 form-group">
                                                        <fieldset class="radio">
                                                            <label><input type="radio" name="radio" id="radioCTAssignAF">Cash Tickets</label>
                                                        </fieldset>
                                                    </div>
                                                    <div class="col-md-2 form-group">
                                                        <fieldset class="radio">
                                                            <label><input type="radio" name="radio" id="radioCTCAssignAF">CTC Collectors</label>
                                                        </fieldset>
                                                    </div>
                                                    <div class="col-md-2 form-group">
                                                        <fieldset class="radio">
                                                            <label><input type="radio" name="radio" id="radioPATASAssignAF">PATAS</label>
                                                        </fieldset>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        @* Treasurer's Collection *@
                                        <div id="DivTreasurerORASF">
                                            <div class="card-header bg-carheadercolor mt-1">
                                                <h4 class="card-title black"><b>Treasurer's OR Details</b></h4>
                                            </div>
                                            <div class="card-content collapse show">
                                                <div class="card-body box-shadow-2">
                                                    @* Treasurer Partial View *@
                                                    <div id="_TreasurerCollectionID">
                                                    </div>
                                                    @* Treasurer Collection Partial View Table *@
                                                    <div id="_TreasurerCollectionTableID">

                                                    </div>
                                                    <div class="row mt-1">
                                                        <div class="col-md-7"></div>
                                                        <div class="col-md-5"><button class="btn black bg-secondary form-control" type="button" data-toggle="modal" data-target="#addTransferReturnModal" ng-click="Get_TransferReturnORTable()"><b>Transfer / Return OR to other collector</b></button></div>
                                                    </div>
                                                </div>
                                            </div>
                                            @* Add Transfer/Return Modal *@
                                            <div class="col-lg-8 col-md-8 col-sm-12 small">
                                                <div class="form-group">
                                                    <div class="modal animated zoomIn text-left" id="addTransferReturnModal" role="dialog">
                                                        <div class="modal-dialog" style="max-width:960px" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header bg-headerbc white">
                                                                    <h6 class="modal-title white"><i class="la la-plus mr-1"></i>Transfer / Return OR Series</h6>
                                                                    <button class="btn bg-headerbc pull-right p-0 white" data-dismiss="modal"><i class="la la-close"></i></button>
                                                                </div>
                                                                <div class="modal-body skin skin-square">
                                                                    <div class="row">
                                                                        <div class="col-md-12" id="_TransferReturnORID">

                                                                        </div>
                                                                    </div>
                                                                    <div class="row mt-1" >
                                                                        <div class="col-md-12" id="_TransferReturnORTableID">

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        @* Field Collectors *@
                                        <div id="DivFieldCollectorASF">
                                            <label>Field Collectors</label>
                                        </div>
                                        @* Cash Tickets *@
                                        <div id="DivCashTicketASF">
                                            <label>Cash Tickets</label>
                                        </div>
                                        @* CTC Collectors *@
                                        <div id="DivCTCCollectorASF">
                                            <label>CTC Collector</label>
                                        </div>
                                        @* PATAS *@
                                        <div id="DivPATAS">
                                            <label>PATAS</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<style>
    #DivCashTickets, #DivCommunityTaxCertificate, #DivFieldCollectorASF, #DivCashTicketASF, #DivCTCCollectorASF, #DivPATAS {
        display: none;
    }
</style>

<script>
    //Inventory of Accountable Form
    $("#radioOR").attr("checked", true);
    $("input[id='radioOR']").click(function () {
        $("#DivOfficalReceipt").show();
        $("#DivCashTickets").hide();
        $("#DivCommunityTaxCertificate").hide();
    });
    $("input[id='radioTickets']").click(function () {
        $("#DivOfficalReceipt").hide();
        $("#DivCashTickets").show();
        $("#DivCommunityTaxCertificate").hide();
    });
    $("input[id='radioCTC']").click(function () {
        $("#DivOfficalReceipt").hide();
        $("#DivCashTickets").hide();
        $("#DivCommunityTaxCertificate").show();
    });

    //Assignment of Accountable Form
    $("#radioTCAssignAF").attr("checked", true);
    $("input[id='radioTCAssignAF']").click(function () {
        $("#DivTreasurerORASF").show();
        $("#DivFieldCollectorASF").hide();
        $("#DivCashTicketASF").hide();
        $("#DivCTCCollectorASF").hide();
        $("#DivPATAS").hide();
    });
    $("input[id='radioFCAssignAF']").click(function () {
        $("#DivTreasurerORASF").hide();
        $("#DivFieldCollectorASF").show();
        $("#DivCashTicketASF").hide();
        $("#DivCTCCollectorASF").hide();
        $("#DivPATAS").hide();
    });
    $("input[id='radioCTAssignAF']").click(function () {
        $("#DivTreasurerORASF").hide();
        $("#DivFieldCollectorASF").hide();
        $("#DivCashTicketASF").show();
        $("#DivCTCCollectorASF").hide();
        $("#DivPATAS").hide();
    });
    $("input[id='radioCTCAssignAF']").click(function () {
        $("#DivTreasurerORASF").hide();
        $("#DivFieldCollectorASF").hide();
        $("#DivCashTicketASF").hide();
        $("#DivCTCCollectorASF").show();
        $("#DivPATAS").hide();
    });
    $("input[id='radioPATASAssignAF']").click(function () {
        $("#DivTreasurerORASF").hide();
        $("#DivFieldCollectorASF").hide();
        $("#DivCashTicketASF").hide();
        $("#DivCTCCollectorASF").hide();
        $("#DivPATAS").show();
    });
</script>

<script>
    @* Angular Function *@
    app.controller('FMCollectionDepositController', function ($scope, $http, $sce) {
        var F = $scope, P = $http, D = $sce.trustAsHtml;

        F.InitAllFunction = function () {
            //Accountable Form Table
            F.Get_AccountableFormTable();
            //Inventory of Accountable Forms
            F.Get_InvtAccountableFormTable();
            F.Get_AFDescriptionTable();
            F.Get_InvtAccountableFormTableCT();
            F.Get_InvtAccountableFormTableCTC();
            //Assignment of Accountable Forms
            F.Get_AccountableFormAssignmentTable();
        }
        //Accountable Form
        F.Get_AccountableFormTable = function () {
            P({
                url: '/FileMaintenanceCollectionDeposit/Get_AccountableFormTable',
            }).then(function (response) {
                $("#_AccountableFormTableID").html(response.data);
            });
            F.Get_AddAccountableForm();
            F.LoadDynamicDDAccountableForm();
            F.LoadDynamicDDAccountableFormCT();
        }
        F.Get_AddAccountableForm = function () {
            P({
                url: '/FileMaintenanceCollectionDeposit/Get_AddAccountableForm',
            }).then(function (response) {
                $("#_AccountableFormID").html(response.data);
                F.LoadDynamicDDDescription();

            });
        }
        F.LoadDynamicDDDescription = function () {
            P({
                url: '/FileMaintenanceCollectionDeposit/GetDynamicAccountableformDescription',
            }).then(function (response) {
                $("#_DescriptionID").html(response.data);
            });
        }
        F.LoadSelectedDynamicDDDescription = function () {
            var DescriptionIDTempID = $("#DescriptionIDTempID").val();
            P({
                url: '/FileMaintenanceCollectionDeposit/GetSelectedDynamicAccountableformDescription',
                params: { DescriptionIDTempID: DescriptionIDTempID }
            }).then(function (response) {
                $("#_DescriptionID").html(response.data);
            });
        }
        F.Get_AFDescriptionTable = function () {
            P({
                url: '/FileMaintenanceCollectionDeposit/Get_AFDescriptionTable',
            }).then(function (response) {
                $("#_DescriptionTableID").html(response.data);
            });
            F.Get_AddDescription();
        }
        F.Get_AddDescription = function () {
            P({
                url: '/FileMaintenanceCollectionDeposit/Get_AddDescription',
            }).then(function (response) {
                $("#_DescriptionxID").html(response.data);
            });
        }
        F.Get_UpdateDescription = function (DescriptionID) {
            P({
                url: '/FileMaintenanceCollectionDeposit/Get_UpdateDescription',
                params: { DescriptionID: DescriptionID }
            }).then(function (response) {
                $("#_DescriptionxID").html(response.data);
            });
        }
        F.Get_DeleteDescription = function (DescriptionID) {
            P({
                url: '/FileMaintenanceCollectionDeposit/DeleteDescription',
                params: { DescriptionID: DescriptionID }
            }).then(function (response) {
                F.Get_AFDescriptionTable();
                F.LoadDynamicDDDescription();
            });
        }
        F.Get_UpdateAccountableForm = function (AccountFormID) {
            P({
                url: '/FileMaintenanceCollectionDeposit/Get_UpdateAccountableForm',
                params: { AccountFormID: AccountFormID }
            }).then(function (response) {
                $("#_AccountableFormID").html(response.data);
                F.LoadSelectedDynamicDDDescription();
                });
        }
        F.Get_DeleteAccountableForm = function (AccountFormID) {
            P({
                url: '/FileMaintenanceCollectionDeposit/DeleteAccountableForm',
                params: { AccountFormID: AccountFormID }
            }).then(function (response) {
                F.Get_AccountableFormTable();
            });
        }
        //Inventory of Accountable Forms
        //OR
        F.Get_InvtAccountableFormTable = function () {
            P({
                url: '/FileMaintenanceCollectionDeposit/Get_AccountableFormInvtTable',
            }).then(function (response) {
                $("#_ORDetailsTableID").html(response.data);
            });
            F.Get_AddInvtAccountableForm();
        }
        F.Get_AddInvtAccountableForm = function () {
            P({
                url: '/FileMaintenanceCollectionDeposit/Get_AddInvntAccountableForm',
            }).then(function (response) {
                $("#_ORDetailsID").html(response.data);
                F.LoadDynamicDDAccountableForm();
            });
        }
        F.LoadDynamicDDAccountableForm = function () {
            P({
                url: '/FileMaintenanceCollectionDeposit/GetDynamicAccountableform',
            }).then(function (response) {
                $("#_ORAFID").html(response.data);
            });
        }
        F.Get_UpdateAccountableFormInventory = function (AFORID) {
            P({
                url: '/FileMaintenanceCollectionDeposit/Get_UpdateAccountableFormInventory',
                params: { AFORID: AFORID }
            }).then(function (response) {
                $("#_ORDetailsID").html(response.data);
                F.LoadSelectedDynamicDDAF();
            });
        }
        F.LoadSelectedDynamicDDAF = function () {
            var AFIDTempID = $("#AFIDTempID").val();
            P({
                url: '/FileMaintenanceCollectionDeposit/GetSelectedDynamicAccountableform',
                params: { AFIDTempID: AFIDTempID }
            }).then(function (response) {
                $("#_ORAFID").html(response.data);
            });
        }
        F.Get_DeleteAccountableFormInventory = function (AFORID) {
            P({
                url: '/FileMaintenanceCollectionDeposit/DeleteAccountableFormInventory',
                params: { AFORID: AFORID }
            }).then(function (response) {
                F.Get_InvtAccountableFormTable();
            });
        }
        //CT
        F.Get_AddInvtAccountableFormCT = function () {
            P({
                url: '/FileMaintenanceCollectionDeposit/Get_AddInvntAccountableFormCT',
            }).then(function (response) {
                $("#_CTDetailsID").html(response.data);
                F.LoadDynamicDDAccountableFormCT();
                F.LoadDynamicDDASFAF();
            });
        }
        F.LoadDynamicDDAccountableFormCT = function () {
            P({
                url: '/FileMaintenanceCollectionDeposit/GetDynamicAccountableformCT',
            }).then(function (response) {
                $("#_CTAFID").html(response.data);
            });
        }
        F.Get_InvtAccountableFormTableCT = function () {
            P({
                url: '/FileMaintenanceCollectionDeposit/Get_AccountableFormInvtTableCT',
            }).then(function (response) {
                $("#_CTDetailsTableID").html(response.data);
            });
            F.Get_AddInvtAccountableFormCT();
        }
        F.LoadSelectedDynamicDDAFCT = function () {
            var AFIDTempIDCT = $("#AFIDTempIDCT").val();
            P({
                url: '/FileMaintenanceCollectionDeposit/GetSelectedDynamicAccountableformCT',
                params: { AFIDTempIDCT: AFIDTempIDCT }
            }).then(function (response) {
                $("#_CTAFID").html(response.data);
            });
        }
        F.Get_UpdateAccountableFormInventoryCT = function (AFORID) {
            P({
                url: '/FileMaintenanceCollectionDeposit/Get_UpdateAccountableFormInventoryCT',
                params: { AFORID: AFORID }
            }).then(function (response) {
                $("#_CTDetailsID").html(response.data);
                F.LoadSelectedDynamicDDAFCT();
            });
        }
        F.Get_DeleteAccountableFormInventoryCT = function (AFORID) {
            P({
                url: '/FileMaintenanceCollectionDeposit/DeleteAccountableFormInventoryCT',
                params: { AFORID: AFORID }
            }).then(function (response) {
                F.Get_InvtAccountableFormTableCT();
            });
        }
        //CTC
        F.Get_InvtAccountableFormTableCTC = function () {
            P({
                url: '/FileMaintenanceCollectionDeposit/Get_AccountableFormInvtTableCTC',
            }).then(function (response) {
                $("#_CTCDetailsTableID").html(response.data);
            });
            F.Get_AddInvtAccountableFormCTC();
        }
        F.Get_AddInvtAccountableFormCTC = function () {
            P({
                url: '/FileMaintenanceCollectionDeposit/Get_AddInvntAccountableFormCTC',
            }).then(function (response) {
                $("#_CTCDetailsID").html(response.data);
                F.LoadDynamicDDAccountableFormCTC();
            });
        }
        F.LoadDynamicDDAccountableFormCTC = function () {
            P({
                url: '/FileMaintenanceCollectionDeposit/GetDynamicAccountableformCTC',
            }).then(function (response) {
                $("#_CTCAFID").html(response.data);
            });
        }
        F.Get_UpdateAccountableFormInventoryCTC = function (AFORID) {
            P({
                url: '/FileMaintenanceCollectionDeposit/Get_UpdateAccountableFormInventoryCTC',
                params: { AFORID: AFORID }
            }).then(function (response) {
                $("#_CTCDetailsID").html(response.data);
                F.LoadSelectedDynamicDDAFCTC();
            });
        }
        F.LoadSelectedDynamicDDAFCTC = function () {
            var AFIDTempIDCTC = $("#AFIDTempIDCTC").val();
            P({
                url: '/FileMaintenanceCollectionDeposit/GetSelectedDynamicAccountableformCTC',
                params: { AFIDTempIDCTC: AFIDTempIDCTC }
            }).then(function (response) {
                $("#_CTCAFID").html(response.data);
            });
        }
        F.Get_DeleteAccountableFormInventoryCTC = function (AFORID) {
            P({
                url: '/FileMaintenanceCollectionDeposit/DeleteAccountableFormInventoryCTC',
                params: { AFORID: AFORID }
            }).then(function (response) {
                F.Get_InvtAccountableFormTableCTC();
            });
        }

        //Assignment of Accountable Forms
        //Treasurer Collector
        F.Get_AddAssignTreasurerCollector = function () {
            P({
                url: '/FileMaintenanceCollectionDeposit/Get_AddAssignTreasurerCollector',
            }).then(function (response) {
                $("#_TreasurerCollectionID").html(response.data);
                F.LoadDynamicAFCollector();
                F.LoadDynamicDDASFFundType();
                F.LoadDynamicDDASFAF();
                F.Get_InvtAccountableFormTable();
            });
        }
        F.LoadDynamicDDASFFundType = function () {
            P({
                url: '/FileMaintenanceCollectionDeposit/GetDynamicASFFundType',
            }).then(function (response) {
                $("#_DynamicFundTypeASF").html(response.data);
            });
        }
        F.LoadDynamicAFCollector = function () {
            P({
                url: '/FileMaintenanceCollectionDeposit/GetDynamicAFCollector',
            }).then(function (response) {
                $("#_DynamicCollectorTable").html(response.data);
            });
        }
        F.LoadDynamicDDASFAF = function () {
            P({
                url: '/FileMaintenanceCollectionDeposit/GetDynamicAFASF',
            }).then(function (response) {
                $("#_DynamicAFASF").html(response.data);
                F.LoadDynamicASFStartOR();
            });
        }
        F.LoadDynamicASFStartOR = function () {
            //var AFORID = $("#AFIDDDASF").val()
            //P({
            //    url: '/FileMaintenanceCollectionDeposit/GetAccountFormID',
            //    params: { AFORID: AFORID}
            //}).then(function (response) {
            //    var AccountFormIDT = response.data.AccountFormID;
            //    P({
            //        url: '/FileMaintenanceCollectionDeposit/GetDynamicAFStartOR',
            //        params: { AccountFormID: AccountFormIDT }
            //    }).then(function (response) {
            //        $("#_DynamicAFStartOR").html(response.data);
            //        F.LoadDynamicDDASFInvt();
            //    });
            //});
            var AccountFormID = $("#AFIDDDASF").val();

            P({
                url: '/FileMaintenanceCollectionDeposit/GetDynamicAFStartOR',
                params: { AccountFormID: AccountFormID }
            }).then(function (response) {
                $("#_DynamicAFStartOR").html(response.data);
                F.LoadDynamicDDASFInvt();
            });
        }
        F.LoadDynamicDDASFInvt = function () {
            var AFORID = $("#StartIDDDD option:selected").val();
            if (AFORID == null || AFORID == "") {
                AFORID = 0;
            }
            P({
                url: '/FileMaintenanceCollectionDeposit/Get_AddAssignTC',
                params: { AFORID: AFORID }
            }).then(function (response) {
                $("#_DynamicASF").html(response.data);
            });
        }
        F.Get_AccountableFormAssignmentTable = function () {
            P({
                url: '/FileMaintenanceCollectionDeposit/Get_AccountableFormAssignmentTable',
            }).then(function (response) {
                $("#_TreasurerCollectionTableID").html(response.data);
            });
            F.Get_AddAssignTreasurerCollector();
        }
        F.Get_TransferReturnORTable = function () {
            P({
                url: '/FileMaintenanceCollectionDeposit/Get_TransferReturnORTable',
            }).then(function (response) {
                $("#_TransferReturnORTableID").html(response.data);
                });
            F.Get_AddTransferReturnOR();
        }
        F.Get_AddTransferReturnOR = function () {
            P({
                url: '/FileMaintenanceCollectionDeposit/Get_AddTransferReturnOR',
            }).then(function (response) {
                $("#_TransferReturnORID").html(response.data);
                F.LoadDynamicMainCollector();
            });
        }
        F.LoadDynamicMainCollector = function () {
            P({
                url: '/FileMaintenanceCollectionDeposit/GetDynamicMainCollector',
            }).then(function (response) {
                $("#_DynamicMainCollectorID").html(response.data);
                F.LoadDynamicSubCollector();
                F.LoadDynamicTCTRORStubNo();
            });
        }
        F.LoadDynamicSubCollector = function () {
            var CollectorID = $("#MainCOIDDD").val();
            P({
                url: '/FileMaintenanceCollectionDeposit/GetDynamicSubCollector',
                params: { CollectorID: CollectorID }
            }).then(function (response) {
                $("#_DynamicSubCollectorID").html(response.data);
            });
        }
        F.LoadDynamicTCTRORStubNo = function () {
            var CollectorID = $("#MainCOIDDD").val();
            P({
                url: '/FileMaintenanceCollectionDeposit/GetDynamicTCTRORStubNo',
                params: { CollectorID: CollectorID }
            }).then(function (response) {
                $("#_DynamicStubNoID").html(response.data);
                F.LoadDynamicDDTRPVOR();
            });
        }
        F.LoadDynamicDDTRPVOR = function () {
            var StubNo = $("#TRORStubNoIDDDD option:selected").text();
            if (StubNo == null || StubNo == "") {
                StubNo = 0;
            }
            P({
                url: '/FileMaintenanceCollectionDeposit/GetDynamicTCTRORPV',
                params: { StubNo: StubNo }
            }).then(function (response) {
                $("#_TransferReturnORIDPV").html(response.data);
            });
        }
    });
</script>
