@* Accountable Forms *@
@{
    ViewBag.Title = "Collection And Deposit";
}
<script>
    $("#collectionanddeposit").addClass("active");
</script>
<div class="content-header row">
    <div class="content-header-left col-md-6 mb-2">
        <h3 class="content-header"><b>File Maintenance - Collection And Deposit</b></h3>
    </div>
</div>

<div class="card" style="border: 1px solid; border-color: #EABEBB" id="FMCollectionDepositController" ng-controller="FMCollectionDepositController" ng-init="InitAllFunction();">
    <ul class="nav nav-tabs font-medium-1 bg-headerbc text-center">
        <li class="nav-item bg-headerbc">
            <a class="nav-link active text-white" id="base-tab1" data-toggle="tab" aria-controls="tab1" href="#tab1" aria-expanded="true"><b>Accountable Forms</b></a>
        </li>
        @*<li class="nav-item bg-headerbc">
            <a class="nav-link text-white" id="base-tab3" data-toggle="tab" aria-controls="tab3" href="#tab3" aria-expanded="false">Accountable Forms Assignment</a>
        </li>
        <li class="nav-item bg-headerbc">
            <a class="nav-link text-white" id="base-tab4" data-toggle="tab" aria-controls="tab4" href="#tab4" aria-expanded="false">Barangays</a>
        </li>
        <li class="nav-item bg-headerbc">
            <a class="nav-link text-white" id="base-tab5" data-toggle="tab" aria-controls="tab5" href="#tab5" aria-expanded="false">Barangay Collectors</a>
        </li>
        <li class="nav-item bg-headerbc">
            <a class="nav-link text-white" id="base-tab6" data-toggle="tab" aria-controls="tab6" href="#tab6" aria-expanded="false">Fees</a>
        </li>
        <li class="nav-item bg-headerbc">
            <a class="nav-link text-white" id="base-tab7" data-toggle="tab" aria-controls="tab7" href="#tab7" aria-expanded="false">Collector Account Activation</a>
        </li>*@
    </ul>
    <div class="tab-content px-1 pt-1 font-weight-bold black">
        @* Accountable Form *@
        <div role="tabpanel" class="tab-pane active" id="tab1" aria-expanded="true" aria-labelledby="base-tab1">
            <div class="content-body">
                @* AF *@
                <div class="row mt-1">
                    <div class="col-12 col-xl-12 ">
                        <div class="card box-shadow-2">
                            <div class="card-header bg-carheadercolor mt-1">
                                <h4 class="card-title black"><b>Accountable Forms Details</b></h4>
                                <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="collapse"><i class="ft-minus text-white"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-content collapse">
                                <div class="card-body box-shadow-2">
                                    <div class="card box-shadow-2" id="_AccountableFormID">

                                    </div>
                                    <div class="row">
                                        <div class="col-md-12" id="_AccountableFormTableID">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @* Inventory AF *@
                <div class="card-block">
                    <div class="card box-shadow-2">
                        <div class="card-header bg-carheadercolor mt-1">
                            <h4 class="card-title black"><b>Inventory of Accountable Forms</b></h4>
                            <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                            <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li><a data-action="collapse"><i class="ft-plus text-white"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-content collapse show">
                            <div class="card-body box-shadow-2">
                                <div class="content-body">
                                    <div class="row mt-1">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-10">
                                            <div class="row">
                                                <div class="col-md-3 mt-1 form-group">
                                                    <fieldset class="radio">
                                                        <label><input type="radio" name="radio" id="radioOR">Official Receipt</label>
                                                    </fieldset>
                                                </div>
                                                <div class="col-md-3 mt-1 form-group">
                                                    <fieldset class="radio">
                                                        <label><input type="radio" name="radio" id="radioTickets">Cash Tickets</label>
                                                    </fieldset>
                                                </div>
                                                <div class="col-md-4 mt-1 form-group">
                                                    <fieldset class="radio">
                                                        <label><input type="radio" name="radio" id="radioCTC">Community Tax Certificate</label>
                                                    </fieldset>
                                                </div>
                                                <div class="col-md-2 form-group">
                                                    <button class="btn bg-addbutton black"><b>View AF Details</b></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @* Official Report *@
                            <div id="DivOfficalReceipt">
                                <div class="card-header bg-carheadercolor mt-1">
                                    <h4 class="card-title black"><b>Official Receipt Details</b></h4>
                                </div>
                                <div class="card-content collapse show">
                                    <div class="card-body box-shadow-2">
                                        <div id="_ORDetailsID">

                                        </div>
                                        <div id="_ORDetailsTableID">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            @* Cash Ticket *@
                            <div id="DivCashTickets">
                                <label>Cash Tickets</label>
                            </div>
                            @* Community Tax Certificate *@
                            <div id="DivCommunityTaxCertificate">
                                <label>Community Tax Certificate</label>
                            </div>
                        </div>
                    </div>
                </div>
                @* Assignment AF *@

            </div>
        </div>
    </div>
</div>
<style>
    #DivCashTickets {
        display: none;
    }
    #DivCommunityTaxCertificate {
        display: none;
    }
</style>

<script>
    $("#radioOR").attr("checked", true);
    $("input[id='radioOR']").click(function () {
        $("#DivOfficalReceipt").show();
        $("#DivCashTickets").hide();
        $("#DivCommunityTaxCertificate").hide();
    });
    $("input[id='radioTickets']").click(function () {
        $("#DivOfficalReceipt").hide();
        $("#DivCashTickets").show();
        $("#DivCommunityTaxCertificate").hide();
    });
    $("input[id='radioCTC']").click(function () {
        $("#DivOfficalReceipt").hide();
        $("#DivCashTickets").hide();
        $("#DivCommunityTaxCertificate").show();
    });
</script>

<script>
    @* Angular Function *@
    app.controller('FMCollectionDepositController', function ($scope, $http, $sce) {
        var F = $scope, P = $http, D = $sce.trustAsHtml;

        F.InitAllFunction = function () {
            //Accountable Form Table
            F.Get_AccountableFormTable();
            //Inventory of Accountable Forms
            F.Get_InvtAccountableFormTable();
        }
        //Accountable Form
        F.Get_AccountableFormTable = function () {
            P({
                url: '/FileMaintenanceCollectionDeposit/Get_AccountableFormTable',
            }).then(function (response) {
                $("#_AccountableFormTableID").html(response.data);
            });
            F.Get_AddAccountableForm();
        }
        F.Get_AddAccountableForm = function () {
            P({
                url: '/FileMaintenanceCollectionDeposit/Get_AddAccountableForm',
            }).then(function (response) {
                $("#_AccountableFormID").html(response.data);
                F.LoadDynamicDDAccountableForm();
            });
        }
        F.Get_UpdateAccountableForm = function (AccountFormID) {
            P({
                url: '/FileMaintenanceCollectionDeposit/Get_UpdateAccountableForm',
                params: { AccountFormID: AccountFormID }
            }).then(function (response) {
                $("#_AccountableFormID").html(response.data);
            });
        }
        F.Get_DeleteAccountableForm = function (AccountFormID) {
            P({
                url: '/FileMaintenanceCollectionDeposit/DeleteAccountableForm',
                params: { AccountFormID: AccountFormID }
            }).then(function (response) {
                F.Get_AccountableFormTable();
            });
        }
        //Inventory of Accountable Forms
        F.Get_InvtAccountableFormTable = function () {
            P({
                url: '/FileMaintenanceCollectionDeposit/Get_AccountableFormInvtTable',
            }).then(function (response) {
                $("#_ORDetailsTableID").html(response.data);
            });
            F.Get_AddInvtAccountableForm();
        }
        F.Get_AddInvtAccountableForm = function () {
            P({
                url: '/FileMaintenanceCollectionDeposit/Get_AddInvntAccountableForm',
            }).then(function (response) {
                $("#_ORDetailsID").html(response.data);
                F.LoadDynamicDDAccountableForm();
            });
        }
        F.LoadDynamicDDAccountableForm = function () {
            P({
                url: '/FileMaintenanceCollectionDeposit/GetDynamicAccountableform',
            }).then(function (response) {
                $("#_ORAFID").html(response.data);
            });
        }
    });
</script>
