
@{
    ViewBag.Title = "Chart of Accounts";
}
<script>
    $("#fchartofaccount").addClass("active");
</script>

<div class="content-header row">
    <div class="content-header-left col-md-6 mb-2">
        <h3 class="content-header-title"><b>File Maintenance - Chart of Accounts</b></h3>
    </div>
</div>
<div class="card-content">
    <div class="card">
        <ul class="nav nav-tabs bg-headerbc nav-underline">
            <li class="nav-item">
                <a class="nav-link active" id="base-tab1" data-toggle="pill" aria-controls="tab1" href="#tab1" aria-expanded="true"><b>Revision Year</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="base-tab2" data-toggle="tab" aria-controls="tab2" href="#tab2" aria-expanded="false"><b>Allotment Class</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="base-tab3" data-toggle="tab" aria-controls="tab3" href="#tab3" aria-expanded="false"><b>Account Group</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="base-tab4" data-toggle="tab" aria-controls="tab4" href="#tab4" aria-expanded="false"><b>Major Account Group</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="base-tab5" data-toggle="tab" aria-controls="tab5" href="#tab5" aria-expanded="false"><b>Sub Major Account Group</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="base-tab6" data-toggle="tab" aria-controls="tab6" href="#tab6" aria-expanded="false"><b>General Account</b></a>
            </li>
        </ul>
        <div class="tab-content px-1 pt-1">
            @* Revision Year *@
            <div role="tabpanel" class="tab-pane active" id="tab1" aria-expanded="true" aria-labelledby="base-tab1">
                <div class="content-body">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10" @*id="DepartmentxID"*@>
                            <div class="row black">
                                <div class="col-md-2">
                                    <label class="mt-1"><b>Revision Year</b></label>
                                    <input type="text" class="form-control" />
                                </div>
                                <div class="col-md-2">
                                    <label class="mt-1"><b>Is Used?</b></label>
                                    <select class="form-control">
                                        <option>Yes</option>
                                        <option>No</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <label class="mt-1"><b>Remarks</b></label>
                                    <input type="text" class="form-control" />
                                </div>
                                <div class="col-md-2">
                                    <label class="mt-1" style="visibility:hidden">Function Code</label>
                                    <button type="submit" class="btn bg-addbutton form-control black" onclick="reload">
                                        <b>Add</b>
                                    </button>
                                </div>
                                <div class="col-md-2">
                                    <label class="mt-1" style="visibility:hidden">Function Code</label>
                                    <button type="reset" class="btn bg-headerbc form-control white">
                                        <b>Cancel</b>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-1" @*id="DepartmentTableID"*@>
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <table class="table table-striped zero-configuration table-bordered text-center table-smss-hover no-footer m-0 w-100">
                                <thead class="text-center">
                                    <tr>
                                        <th>Revision Year</th>
                                        <th>Is Used?</th>
                                        <th>Remarks</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody class="text-center">
                                    <tr>
                                        <td>2003</td>
                                        <td>No</td>
                                        <td>Revison Year 2003-006</td>
                                        <td><button type="button" class="btn btn-sm btn-icon center bg-headerbc" onfocusout="ClosePopOver1()" data-toggle="popoverSignatories" data-placement="left" data-conztainer="body" data-original-title=""> <i class="la la-reorder"></i></button></td>
                                    </tr>
                                    <tr>
                                        <td>2008</td>
                                        <td>No</td>
                                        <td>Revison Year 2008-007</td>
                                        <td><button type="button" class="btn btn-sm btn-icon center bg-headerbc" onfocusout="ClosePopOver1()" data-toggle="popoverSignatories" data-placement="left" data-conztainer="body" data-original-title=""> <i class="la la-reorder"></i></button></td>
                                    </tr>
                                    <tr>
                                        <td>2013</td>
                                        <td>No</td>
                                        <td>Revison Year 2013-008</td>
                                        <td><button type="button" class="btn btn-sm btn-icon center bg-headerbc" onfocusout="ClosePopOver1()" data-toggle="popoverSignatories" data-placement="left" data-conztainer="body" data-original-title=""> <i class="la la-reorder"></i></button></td>
                                    </tr>
                                    <tr>
                                        <td>2015</td>
                                        <td>Yes</td>
                                        <td>Revison Year 2015-009</td>
                                        <td><button type="button" class="btn btn-sm btn-icon center bg-headerbc" onfocusout="ClosePopOver1()" data-toggle="popoverSignatories" data-placement="left" data-conztainer="body" data-original-title=""> <i class="la la-reorder"></i></button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            @* Allotment Class *@
            <div role="tabpanel" class="tab-pane" id="tab2" aria-expanded="true" aria-labelledby="base-tab2">
                <div class="content-body">

                    <div class="row black">
                        <div class="col-md-1"></div>
                        <div class="col-md-10" @*id="DepartmentxID"*@>
                            <div class="row">
                                <div class="col-md-2">
                                    <label class="mt-1"><b>Revision Year</b></label>
                                    <select class="form-control">
                                        <option>2015</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label class="mt-1"><b>Allotment Class</b></label>
                                    <input type="text" class="form-control" />
                                </div>
                                <div class="col-md-2">
                                    <label class="mt-1" style="visibility:hidden">Function Code</label>
                                    <button type="submit" class="btn bg-addbutton form-control black" onclick="reload">
                                        <b>Add</b>
                                    </button>
                                </div>
                                <div class="col-md-2">
                                    <label class="mt-1" style="visibility:hidden">Function Code</label>
                                    <button type="reset" class="btn bg-headerbc form-control white">
                                        <b>Cancel</b>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-1" @*id="DepartmentTableID"*@>
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <table class="table table-striped zero-configuration table-bordered text-center table-smss-hover no-footer m-0 w-100">
                                <thead>
                                    <tr>
                                        <th>Revision Year</th>
                                        <th>Allotment Class</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>2015</td>
                                        <td>Capital Outlay</td>
                                        <td><button type="button" class="btn btn-sm btn-icon center bg-headerbc" onfocusout="ClosePopOver1()" data-toggle="popoverSignatories" data-placement="left" data-conztainer="body" data-original-title=""> <i class="la la-reorder"></i></button></td>
                                    </tr>
                                    <tr>
                                        <td>2015</td>
                                        <td>Maintenance and Other Operating Expenses</td>
                                        <td><button type="button" class="btn btn-sm btn-icon center bg-headerbc" onfocusout="ClosePopOver1()" data-toggle="popoverSignatories" data-placement="left" data-conztainer="body" data-original-title=""> <i class="la la-reorder"></i></button></td>
                                    </tr>
                                    <tr>
                                        <td>2015</td>
                                        <td>Other Operating Expenses</td>
                                        <td><button type="button" class="btn btn-sm btn-icon center bg-headerbc" onfocusout="ClosePopOver1()" data-toggle="popoverSignatories" data-placement="left" data-conztainer="body" data-original-title=""> <i class="la la-reorder"></i></button></td>
                                    </tr>
                                    <tr>
                                        <td>2015</td>
                                        <td>Personal Services</td>
                                        <td><button type="button" class="btn btn-sm btn-icon center bg-headerbc" onfocusout="ClosePopOver1()" data-toggle="popoverSignatories" data-placement="left" data-conztainer="body" data-original-title=""> <i class="la la-reorder"></i></button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            @* Account Group *@
            <div role="tabpanel" class="tab-pane" id="tab3" aria-expanded="true" aria-labelledby="base-tab3">
                <div class="content-body">
                    <div class="row black">
                        <div class="col-md-12" @*id="DepartmentxID"*@>
                            <div class="row">
                                <div class="col-md-2">
                                    <label class="mt-1"><b>Revision Year</b></label>
                                    <select class="form-control">
                                        <option>2015</option>
                                    </select>
                                </div>
                                <div class="col-md-5">
                                    <label class="mt-1"><b>Allotment Class</b></label>
                                    <select class="form-control">
                                        <option>Maintenance and Other Operating Expenses</option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <label class="mt-1"><b>Accounts</b></label>
                                    <input type="text" class="form-control" />
                                </div>
                                <div class="col-md-2">
                                    <label class="mt-1"><b>Account Code</b></label>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8"></div>
                                <div class="col-md-2">
                                    <label class="mt-1" style="visibility:hidden">Function Code</label>
                                    <button type="submit" class="btn bg-addbutton form-control black" onclick="reload">
                                        <b>Add</b>
                                    </button>
                                </div>
                                <div class="col-md-2">
                                    <label class="mt-1" style="visibility:hidden">Function Code</label>
                                    <button type="reset" class="btn bg-headerbc form-control white">
                                        <b>Cancel</b>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-1" @*id="DepartmentTableID"*@>
                        <div class="col-md-12">
                            <table class="table table-striped zero-configuration table-bordered text-center table-smss-hover no-footer m-0 w-100">
                                <thead class="text-center">
                                    <tr>
                                        <th>Revision Year</th>
                                        <th>Allotment Class</th>
                                        <th>Accounts</th>
                                        <th>Account Code</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody class="text-center">
                                    <tr>
                                        <td>2015</td>
                                        <td>Capital Outlay</td>
                                        <td>Asset</td>
                                        <td>1</td>
                                        <td><button type="button" class="btn btn-sm btn-icon center bg-headerbc" onfocusout="ClosePopOver1()" data-toggle="popoverSignatories" data-placement="left" data-conztainer="body" data-original-title=""> <i class="la la-reorder"></i></button></td>
                                    </tr>
                                    <tr>
                                        <td>2015</td>
                                        <td>N / A</td>
                                        <td>Liabilities</td>
                                        <td>2</td>
                                        <td><button type="button" class="btn btn-sm btn-icon center bg-headerbc" onfocusout="ClosePopOver1()" data-toggle="popoverSignatories" data-placement="left" data-conztainer="body" data-original-title=""> <i class="la la-reorder"></i></button></td>
                                    </tr>
                                    <tr>
                                        <td>2015</td>
                                        <td>N / A</td>
                                        <td>Equity</td>
                                        <td>3</td>
                                        <td><button type="button" class="btn btn-sm btn-icon center bg-headerbc" onfocusout="ClosePopOver1()" data-toggle="popoverSignatories" data-placement="left" data-conztainer="body" data-original-title=""> <i class="la la-reorder"></i></button></td>
                                    </tr>
                                    <tr>
                                        <td>2015</td>
                                        <td>N / A</td>
                                        <td>Income</td>
                                        <td>4</td>
                                        <td><button type="button" class="btn btn-sm btn-icon center bg-headerbc" onfocusout="ClosePopOver1()" data-toggle="popoverSignatories" data-placement="left" data-conztainer="body" data-original-title=""> <i class="la la-reorder"></i></button></td>
                                    </tr>
                                    <tr>
                                        <td>2015</td>
                                        <td>Personal Service</td>
                                        <td>Expenses</td>
                                        <td>5</td>
                                        <td><button type="button" class="btn btn-sm btn-icon center bg-headerbc" onfocusout="ClosePopOver1()" data-toggle="popoverSignatories" data-placement="left" data-conztainer="body" data-original-title=""> <i class="la la-reorder"></i></button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            @* Major Account Group *@
            <div role="tabpanel" class="tab-pane" id="tab4" aria-expanded="true" aria-labelledby="base-tab4">
                <div class="content-body">
                    <div class="row black">
                      @*  <div class="col-md-1"></div>*@
                        <div class="col-md-12" @*id="DepartmentxID"*@>
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="mt-1"><b>Revision Year</b></label>
                                    <select class="form-control">
                                        <option>2015</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label class="mt-1"><b>Allotment Class</b></label>
                                    <select class="form-control">
                                        <option>Maintenance and Other Operating Expenses</option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <label class="mt-1"><b>Accounts</b></label>
                                    <select class="form-control">
                                        <option>Asset</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <label class="mt-1"><b>Major Account Group</b></label>
                                    <input type="text" class="form-control" name="name" value="" />
                                </div>
                                <div class="col-md-3 mt-1">
                                    <label><b>Account Code</b></label>
                                    <div class="input-group mt-0">
                                        <span class="input-group-addon" id="basic-addon1"><b>1 - </b></span>
                                        <input type="text" class="form-control" name="name" value="" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <label class="mt-1" style="visibility:hidden">Function Code</label>
                                    <button type="submit" class="btn bg-addbutton form-control black" onclick="reload">
                                        <b>Add</b>
                                    </button>
                                </div>
                                <div class="col-md-2">
                                    <label class="mt-1" style="visibility:hidden">Function Code</label>
                                    <button type="reset" class="btn bg-headerbc form-control white">
                                        <b>Cancel</b>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-1" @*id="DepartmentTableID"*@>
                        <div class="col-md-12">
                            <table class="table table-striped zero-configuration table-bordered text-center table-smss-hover no-footer m-0 w-100">
                                <thead class="text-center">
                                    <tr>
                                        <th>Revision Year</th>
                                        <th>Allotment Class</th>
                                        <th>Accounts</th>
                                        <th>Major Account Group</th>
                                        <th>Account Code</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody class="text-center">
                                    <tr>
                                        <td>2015</td>
                                        <td>Capital Outlay</td>
                                        <td>Asset</td>
                                        <td>Cash</td>
                                        <td>1-01</td>
                                        <td><button type="button" class="btn btn-sm btn-icon center bg-headerbc" onfocusout="ClosePopOver1()" data-toggle="popoverSignatories" data-placement="left" data-conztainer="body" data-original-title=""> <i class="la la-reorder"></i></button></td>
                                    </tr>
                                    <tr>
                                        <td>2015</td>
                                        <td>N / A</td>
                                        <td>Liabilities</td>
                                        <td>Financial Liabilities</td>
                                        <td>2-01</td>
                                        <td><button type="button" class="btn btn-sm btn-icon center bg-headerbc" onfocusout="ClosePopOver1()" data-toggle="popoverSignatories" data-placement="left" data-conztainer="body" data-original-title=""> <i class="la la-reorder"></i></button></td>
                                    </tr>
                                    <tr>
                                        <td>2015</td>
                                        <td>N / A</td>
                                        <td>Equity</td>
                                        <td>Government Equity</td>
                                        <td>3-01</td>
                                        <td><button type="button" class="btn btn-sm btn-icon center bg-headerbc" onfocusout="ClosePopOver1()" data-toggle="popoverSignatories" data-placement="left" data-conztainer="body" data-original-title=""> <i class="la la-reorder"></i></button></td>
                                    </tr>
                                    <tr>
                                        <td>2015</td>
                                        <td>N / A</td>
                                        <td>Income</td>
                                        <td>Tax Revenue</td>
                                        <td>4-01</td>
                                        <td><button type="button" class="btn btn-sm btn-icon center bg-headerbc" onfocusout="ClosePopOver1()" data-toggle="popoverSignatories" data-placement="left" data-conztainer="body" data-original-title=""> <i class="la la-reorder"></i></button></td>
                                    </tr>
                                    <tr>
                                        <td>2015</td>
                                        <td>Personal Service</td>
                                        <td>Expenses</td>
                                        <td>Personnel Services</td>
                                        <td>5-01</td>
                                        <td><button type="button" class="btn btn-sm btn-icon center bg-headerbc" onfocusout="ClosePopOver1()" data-toggle="popoverSignatories" data-placement="left" data-conztainer="body" data-original-title=""> <i class="la la-reorder"></i></button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            @* Sub Major Account Group *@
            <div role="tabpanel" class="tab-pane" id="tab5" aria-expanded="true" aria-labelledby="base-tab5">
                <div class="content-body">
                    <div class="row">
                        <div class="col-md-12" @*id="DepartmentxID"*@>
                            <div class="row black">
                                <div class="col-md-3">
                                    <label class="mt-1"><b>Revision Year</b></label>
                                    <select class="form-control">
                                        <option>2015</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label class="mt-1"><b>Allotment Class</b></label>
                                    <select class="form-control">
                                        <option>Maintenance and Other Operating Expenses</option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <label class="mt-1"><b>Accounts</b></label>
                                    <select class="form-control">
                                        <option>Asset</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row black">
                                <div class="col-md-4">
                                    <label class="mt-1"><b>Major Account Group</b></label>
                                    <select class="form-control">
                                        <option>Cash</option>
                                        <option>Financial Liabilities</option>
                                        <option>Government Equity</option>
                                        <option>Tax Revenue</option>
                                        <option>Personnel Services</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <label class="mt-1"><b>Sub Major Account Group</b></label>
                                    <input type="text" class="form-control" name="name" value="" />
                                </div>
                                <div class="col-md-4 mt-1">
                                    <label><b>Account Code</b></label>
                                    <div class="input-group mt-0">
                                        <span class="input-group-addon" id="basic-addon1"><b>1 - 01 -</b></span>
                                        <input type="text" class="form-control" name="name" value="" />
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-md-8"></div>
                                <div class="col-md-2">
                                    <button type="submit" class="btn bg-addbutton form-control black" onclick="reload">
                                        <b>Add</b>
                                    </button>
                                </div>
                                <div class="col-md-2">
                                    <button type="reset" class="btn bg-headerbc form-control white">
                                        <b>Cancel</b>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-1" @*id="DepartmentTableID"*@>
                        <div class="col-md-12">
                            <table class="table table-striped zero-configuration table-bordered text-center table-smss-hover no-footer m-0 w-100">
                                <thead class="text-center">
                                    <tr>
                                        <th>Revision Year</th>
                                        <th>Allotment Class</th>
                                        <th>Accounts</th>
                                        <th>Major Account Group</th>
                                        <th>Sub Major Account Group</th>
                                        <th>Account Code</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody class="text-center">
                                    <tr>
                                        <td>2015</td>
                                        <td>Capital Outlay</td>
                                        <td>Asset</td>
                                        <td>Property, Plant and Equipment</td>
                                        <td>Land</td>
                                        <td>1-07-01</td>
                                        <td><button type="button" class="btn btn-sm btn-icon center bg-headerbc" onfocusout="ClosePopOver1()" data-toggle="popoverSignatories" data-placement="left" data-conztainer="body" data-original-title=""> <i class="la la-reorder"></i></button></td>
                                    </tr>
                                    <tr>
                                        <td>2015</td>
                                        <td>N / A</td>
                                        <td>Liabilities</td>
                                        <td>Financial Liabilities</td>
                                        <td>Payables</td>
                                        <td>2-01-01</td>
                                        <td><button type="button" class="btn btn-sm btn-icon center bg-headerbc" onfocusout="ClosePopOver1()" data-toggle="popoverSignatories" data-placement="left" data-conztainer="body" data-original-title=""> <i class="la la-reorder"></i></button></td>
                                    </tr>
                                    <tr>
                                        <td>2015</td>
                                        <td>N / A</td>
                                        <td>Equity</td>
                                        <td>Government Equity</td>
                                        <td>Government Equity</td>
                                        <td>3-01-01</td>
                                        <td><button type="button" class="btn btn-sm btn-icon center bg-headerbc" onfocusout="ClosePopOver1()" data-toggle="popoverSignatories" data-placement="left" data-conztainer="body" data-original-title=""> <i class="la la-reorder"></i></button></td>
                                    </tr>
                                    <tr>
                                        <td>2015</td>
                                        <td>N / A</td>
                                        <td>Income</td>
                                        <td>Tax Revenue</td>
                                        <td>Tax Revenue - Individual and Corporation</td>
                                        <td>4-01-01</td>
                                        <td><button type="button" class="btn btn-sm btn-icon center bg-headerbc" onfocusout="ClosePopOver1()" data-toggle="popoverSignatories" data-placement="left" data-conztainer="body" data-original-title=""> <i class="la la-reorder"></i></button></td>
                                    </tr>
                                    <tr>
                                        <td>2015</td>
                                        <td>Personal Service</td>
                                        <td>Expenses</td>
                                        <td>Personnel Services</td>
                                        <td>Salaries and Wages</td>
                                        <td>5-01-01</td>
                                        <td><button type="button" class="btn btn-sm btn-icon center bg-headerbc" onfocusout="ClosePopOver1()" data-toggle="popoverSignatories" data-placement="left" data-conztainer="body" data-original-title=""> <i class="la la-reorder"></i></button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            @* General Account*@
            <div role="tabpanel" class="tab-pane" id="tab6" aria-expanded="true" aria-labelledby="base-tab6">
                <div class="content-body">

                </div>
            </div>
        </div>
    </div>
</div>