
@{
    ViewBag.Title = "Accounts Receivable";
}

<script>
    $("#receivable").addClass("active");
</script>
<div class="content-header row">
    <div class="content-header-left col-md-6 mb-2">
        <h3 class="content-header"><b>Accounts Receivable</b></h3>
    </div>
</div>
<div class="content-body font-weight-bold black">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xl-12">
            <div class="card" style="border: 1px solid; border-color: #EABEBB">
                <div class="card-block">
                    <div class="card-body">

                        <div class="row">
                            <div class="col-md-2 col-sm-2"></div>

                            <div class="col-md-10 col-sm-10">
                                <div class="row">
                                    <div class="col-md-4 col-sm-4">
                                        <div class="form-group">
                                            <label>Accounts Receivable Type</label>
                                            <select class="form-control" id="dp">
                                                <option value="1">Business Permit</option>
                                                <option value="2">Real Property</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-4">
                                        <div class="form-group">
                                            <label>Barangay</label>
                                            <select class="form-control">
                                                <option>Barangay 1</option>
                                                <option>Barangay 2</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-sm-4 col-md-2 text-center">
                                        <div class="form-group">
                                            <label style="visibility:hidden">Hide</label><br />
                                            <button class="btn bottom-right form-control black" style="background-color: #F0AD4E;"><b>Search</b></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @* Accounts Receivable: Business Permits *@
                        <div class="card box-shadow-2">
                            <div class="card-header" style="background-color: #FEDF82;">
                                <h4 class="card-title black" style="background-color: #FEDF82;"><b>Accounts Receivable: [ <span id="dpValue"></span> ]</b></h4>
                            </div>
                            <div class="card-content collapse show">
                                <div class="card-body box-shadow-2">
                                    <div class="table-responsive">
                                        <div class="row">
                                            <div class="col-md-2 col-sm-2"></div>
                                            <div class="col-md-8 col-sm-8">
                                                <table class="table table-striped table-bordered zero-configuration w-100">
                                                    <thead>
                                                        <tr class="text-center">
                                                            <th>Barangay</th>
                                                            <th width="30%">Amount</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Barangay 1</td>
                                                            <td class="text-right">100,000,000,000.00</td>
                                                        </tr>
                                                    </tbody>
                                                    <tfoot class=" text-white">
                                                        <tr class="footerbc">
                                                            <th class="text-right">Total:</th>
                                                            <th class="text-right">100,000,000,000.00</th>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @* Owner Information *@
                        <div class="card box-shadow-2">
                            <div class="card-header" style="background-color: #FEDF82;">
                                <h4 class="card-title black" style="background-color: #FEDF82;"><b>Owner Information</b></h4>
                            </div>
                            <div class="card-content collapse show">
                                <div class="card-body box-shadow-2">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered zero-configuration w-100">
                                            <thead>
                                                <tr>
                                                    <th class="text-center" width="20%">Owner Name</th>
                                                    <th class="text-center" width="30%">Address</th>
                                                    <th class="text-center" width="15%">Amount</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="text-center">Juan Dela Cruz</td>
                                                    <td>Barangay 1</td>
                                                    <td class="text-right">100,000,000,000.00</td>
                                                </tr>
                                            </tbody>
                                            <tfoot class=" text-white">
                                                <tr class="footerbc">
                                                    <th></th>
                                                    <th class="text-right">Total:</th>
                                                    <th class="text-right">100,000,000.00</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @* Business Information *@
                        <div class="card box-shadow-2" id="DivBusinessInfo">
                            <div class="card-header " style="background-color: #FEDF82;">
                                <h4 class="card-title black" style="background-color: #FEDF82;"><b>Business Information</b></h4>
                            </div>
                            <div class="card-content collapse show">
                                <div class="card-body box-shadow-2">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered zero-configuration w-100">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">Account No.</th>
                                                    <th class="text-center">Business Name</th>
                                                    <th class="text-center">Business Line</th>
                                                    <th class="text-center">Total Assessment</th>
                                                    <th class="text-center">Total Payment</th>
                                                    <th class="text-center">1st Quarter</th>
                                                    <th class="text-center">2nd Quarter</th>
                                                    <th class="text-center">3rd Quarter</th>
                                                    <th class="text-center">4th Quarter</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                            <tfoot class="text-white">
                                                <tr class="footerbc text-right">
                                                    <th></th>
                                                    <th></th>
                                                    <th>Total:</th>
                                                    <th>0.00</th>
                                                    <th>0.00</th>
                                                    <th>0.00</th>
                                                    <th>0.00</th>
                                                    <th>0.00</th>
                                                    <th>0.00</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @* List of Property *@
                        <div id="DivListofProp">
                            <div class="card box-shadow-2">
                                <div class="card-header " style="background-color: #FEDF82;">
                                    <h4 class="card-title black" style="background-color: #FEDF82;"><b>List of Property</b></h4>
                                </div>
                                <div class="card-content collapse show">
                                    <div class="card-body box-shadow-2">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered zero-configuration w-100">
                                                <thead>
                                                    <tr>
                                                        <th>PIN</th>
                                                        <th>Description/Location</th>
                                                        <th>Lot No.</th>
                                                        <th>Class</th>
                                                        <th>Total Amount Due</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                                <tfoot class="text-white">
                                                    <tr class="footerbc text-right">
                                                        <th></th>
                                                        <th></th>
                                                        <th></th>
                                                        <th>Total:</th>
                                                        <th>0.00</th>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>  
                            <div class="card box-shadow-2">
                                <div class="card-header " style="background-color: #FEDF82;">
                                    <h4 class="card-title black" style="background-color: #FEDF82;"><b>Details</b></h4>
                                </div>
                                <div class="card-content collapse show">
                                    <div class="card-body box-shadow-2">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered zero-configuration w-100">
                                                <thead>
                                                    <tr>
                                                        <th>ARP No.</th>
                                                        <th>Pay Year</th>
                                                        <th>Assessed Value</th>
                                                        <th>Basic</th>
                                                        <th>SEF</th>
                                                        <th>Penalties</th>
                                                        <th>Total Tax</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                                <tfoot class="text-white">
                                                    <tr class="footerbc text-right">
                                                        <th></th>
                                                        <th>Total:</th>
                                                        <th>0.00</th>
                                                        <th>0.00</th>
                                                        <th>0.00</th>
                                                        <th>0.00</th>
                                                        <th>0.00</th>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    #DivListofProp {
        display: none;
    }
</style>
<script>
    $('#dpValue').text($('#dp option:selected').text());

    $(document).ready(function () {
        $('#dp').on('change', function () {

            var dpValue = $(this).find('option:selected').text();

            $('#dpValue').text(dpValue);    

            if (this.value == '1') {
                $("#DivBusinessInfo").show();
                $("#DivListofProp").hide();
            } else {
                $("#DivListofProp").show();
                $("#DivBusinessInfo").hide(); 
            }
        });
    });
</script>