@model TOSS_UPGRADE.Models.FM_CollectionAndDeposit.FM_CollectionAndDeposit_AssignmentAF
@{
    DB_TOSSEntities SISDB = new DB_TOSSEntities();
}
@using TOSS_UPGRADE.Models;
@using (Ajax.BeginForm("AddAccountableFormAssignFieldCollector", "FileMaintenanceCollectionDeposit", new AjaxOptions { OnSuccess = "AngularGlobalAlertsCallingNoModal('FMCollectionDepositController','Get_AccountableFormAssignmentFCTable','Successfully Saved')", OnFailure = "OnFailure()", }))
{
    <div class="row">
        <div class="col-md-3 form-group" id="_FCCollectorID">
        </div>
        <div class="col-md-3 form-group" id="_FCFundID">
        </div>
        <div class="col-md-3 form-group" id="_FCAFID">
        </div>
        <div class="col-md-3 form-group">
            <label>Date Issued</label>
            @Html.TextBoxFor(m => m.getAccountableFormAssigncolumns.Date, new { @class = "form-control pickadate", type = "text" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 form-group" id="_FCStartORID">
        </div>
        <div class="col-md-9" id="_DynamicASFFC">
        </div>
    </div>
    <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-2"><button class="btn black bg-addbutton form-control" type="submit"><b>Save</b></button></div>
    </div>
}
<script>
    $(function () {
        LoadDataTable();
        LoadPopOver();
        LoadPickDatetime();
    })
</script>