@model TOSS_UPGRADE.Models.FM_SignatoriesModel
@{
    DB_TOSSEntities SISDB = new DB_TOSSEntities();
}
@using TOSS_UPGRADE.Models;

@using (Ajax.BeginForm("AddPosition", "FileMaintenanceSignatories", new AjaxOptions { OnSuccess = "AngularGlobalAlertsCallingNoModalNoSuccessWithTripleFunc('FMSignatoriesController', 'Get_PositionTable',  'LoadDynamicDDPositionName','SuccessSave2')", OnFailure = "OnFailure()", }))
{
<div class="row">
    <div class="col-md-5">
        <label>Position Name</label>
        @Html.TextBoxFor(m => m.getPositionColumns.PositionName, new { @class = "form-control", type = "text", ng_model = "PositionNameID" })
        @Html.ValidationMessageFor(model => model.getPositionColumns.PositionName)
    </div>
    <div class="col-md-3 pl-0">
        <label>Position Code</label>
        <input type="text" class="form-control" />
    </div>
    <div class="col-md-2 pl-0">
        <label style="visibility:hidden">Position</label>
        <button type="submit" class="btn bg-addbutton form-control black"><b>Add</b></button>
    </div>
    <div class="col-md-2 pl-0">
        <label style="visibility:hidden">Position</label>
        <button type="reset" class="btn bg-headerbc form-control white"><b>Cancel</b></button>
    </div>
</div>
}
<script>

    $(function () {
        LoadDataTable();
        LoadPopOver();
    })
</script>
