
@{
    ViewBag.Title = "Issuance Checks";
}


<script>
    $("#issuancecheck").addClass("active");
</script>
<div class="content-header row">
    <div class="content-header-left col-md-6 mb-2">
        <h3 class="content-header"><b>Check Issuance</b></h3>
    </div>
</div>

<div class="row font-weight-bold black">
    <div class="col-12 col-xl-12 ">
        <div class="card box-shadow-2">
            <div class="card-content collapse show">
                <div class="card-body">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="card box-shadow-2">
                                <div class="card-header bg-carheadercolor">
                                    <h4 class="card-title black"><b>Check Disbursement for Issuance</b></h4>
                                </div>
                                <div class="card-content collapse show">
                                    <div class="card-body box-shadow-2">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="table-responsive">
                                                    <table class="table table-striped table-bordered zero-configuration w-100 nowrap">
                                                        <thead>
                                                            <tr>
                                                                <th>PR No.</th>
                                                                <th>Requesting Dept.</th>
                                                                <th>OBR No.</th>
                                                                <th>Supplier/Payee</th>
                                                                <th>Project Name</th>
                                                                <th>PO No.</th>
                                                                <th>Date</th>
                                                                <th>DV Amount</th>
                                                                <th>DV No.</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td></td>
                                                                <td>OFFICE of the Provincial Accountant</td>
                                                                <td>25635656</td>
                                                                <td>ADMINISTRATOR</td>
                                                                <td>Payment for Salary</td>
                                                                <td></td>
                                                                <td></td>
                                                                <td class="text-right">45,000.00</td>
                                                                <td>DV - 100 - 2018 - 05 - 0</td>
                                                            </tr>
                                                            <tr>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mt-1">
                                            <div class="col-md-2 col-sm-2"></div>
                                            <div class="col-md-8 col-sm-8 form-control black">
                                                    <div class="row">
                                                        <div class="col-md-5 form-group">
                                                            <label>Receiver's Name</label>
                                                            <input type="text" value="Fernando B. Alagao" class="form-control" />
                                                        </div>
                                                        <div class="col-md-5 form-group">
                                                            <label>Date Issued</label>
                                                            <input type="text" value="08/08/2017" class="form-control" />
                                                        </div>
                                                        <div class="col-md-2">
                                                            <label style="visibility:hidden">Issued</label>
                                                            <button class="btn bg-addbutton form-control black"><b>Save</b></button>
                                                        </div>  
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-xl-12 col-sm-12 col-md-12">
                            <div class="card box-shadow-2">
                                <div class="card-header bg-carheadercolor">
                                    <h4 class="card-title black"><b>Issued Checks</b></h4>
                                </div>
                                <div class="card-content collapse show">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12">
                                                <div class="table-responsive">
                                                    <table class="table table-striped table-bordered zero-configuration w-100 nowrap">
                                                        <thead>
                                                            <tr>
                                                                <th>PR No.</th>
                                                                <th>Requesting Dept.</th>
                                                                <th>OBR No.</th>
                                                                <th>Supplier/Payee</th>
                                                                <th>Project Name</th>
                                                                <th>PO No.</th>
                                                                <th>Date</th>
                                                                <th>DV Amount</th>
                                                                <th>DV No.</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td></td>
                                                                <td>OFFICE of the Provincial Accountant</td>
                                                                <td>25635656</td>
                                                                <td>ADMINISTRATOR</td>
                                                                <td>Payment for Salary</td>
                                                                <td></td>
                                                                <td></td>
                                                                <td class="text-right">45,000.00</td>
                                                                <td>DV - 100 - 2018 - 05 - 0</td>
                                                            </tr>
                                                            <tr>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
