@{
    ViewBag.Title = "Authority For Fund Transfer";
}
<script>
    $("#aftransfer").addClass("active");
</script>
<div class="content-header row">
    <div class="content-header-left col-md-4 mb-2">
        <h3 class="content-header"><b>Authority For Fund Transfer</b></h3>
    </div>
</div>

<div class="content-body font-weight-bold black">
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="card" style="border: 1px solid; border-color: #EABEBB">
                <div class="card-block">
                    <div class="card-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2">
                                    <img src="~/Resources/Logo/iWK0F1PG_400x400.jpeg" width="100" height="100" />
                                </div>
                                <div class="col-md-6">
                                    <h3 style="visibility:hidden">AUTHORITY</h3>
                                    <h3 class="text-center"><b>AUTHORITY FOR FUND TRANSFER</b></h3>
                                </div>
                                <div class="col-md-1"></div>
                                <div class="col-md-3 pull-right">
                                    <input type="text" class="form-control mt-2" value="AFFT-2019-07-001" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8"></div>
                                <div class="col-md-1">
                                    <label class="mt-1 text-right p-0">Date : </label>
                                </div>
                                <div class="col pull-right">
                                    <input placeholder="12/31/2018" class="form-control pickadate ui-datepicker" />
                                </div>
                            </div>
                            <hr style=" border:.5px solid;" />
                            <hr class="mt-2" style=" border:.5px solid;" />
                            <div class="row">
                                <div class="col-md-1">
                                    <label>Please</label>
                                </div>
                                <div class="col-md-3 text-center">
                                    <label>DEBIT</label>
                                </div>
                                <div class="col-md-2 text-left">
                                    <label>Account Name</label>
                                </div>
                                <div class="col-md-5 text-right">
                                    <label>Account Number</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-9">
                                    <input type="text" class="form-control text-center" value="GF - Proper" />
                                </div>
                                <div class="col-md-3 form-group">
                                    <select class="form-control">
                                        <option>0442-1045-11 - (LBP)</option>
                                    </select>
                                </div>
                            </div>
                            <hr class="" style=" border:.5px solid;" />
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Amount in Words/Figures</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-9">
                                    <input type="text" class="form-control" value="" />
                                </div>
                                <div class="col-md-3 form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <button class="btn bg-addbutton form-control black"><b>Deposit</b></button>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control text-right" value="0.00" />
                                        </div>
                                    </div>

                                    <div class="row mt-1">
                                        <div class="col-md-6 form-group p-0 mt-1">
                                            <label class="black"><b>Service Charge ₱</b></label>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control text-right" value="0.00" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr style=" border:.5px solid;" />
                            <div class="row">
                                <div class="col-md-1">
                                    <label>and</label>
                                </div>
                                <div class="col-md-3 text-center">
                                    <label>CREDIT</label>
                                </div>
                                <div class="col-md-2 text-left">
                                    <label>Account Name</label>
                                </div>
                                <div class="col-md-5 text-right">
                                    <label>Account Number</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-9">
                                    <input type="text" class="form-control text-center" value="Special Education Fund" />
                                </div>
                                <div class="col-md-3 form-group">
                                    <select class="form-control">
                                        <option>0442-1045-11 - (LBP)</option>
                                    </select>
                                </div>
                            </div>
                            <hr class="mt-1" style=" border:.5px solid;" />

                            <div class="row">
                                <div class="col-md-12">
                                    <label>Representing</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-9">
                                    <input type="text" class="form-control text-center" value="" />
                                </div>
                            </div>
                            <hr class="mt-1" style=" border:.5px solid;" />
                            <div class="row">
                                <div class="col-md-12">
                                    <label>I/We hereby declare under penalty of perjury that my/co-depositors is/are still living</label>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-4 mt-1">
                                    <label>For Bank Use Only</label>
                                </div>
                                <div class="col-md-3 text-center">
                                    <select class="form-control">
                                        <option>Francisco A. Santos</option>
                                    </select>
                                </div>
                                <div class="col-md-2"></div>
                                <div class="col-md-3 text-center">
                                    <select class="form-control">
                                        <option>Andria C. Ocampo</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4"></div>
                                <div class="col-md-3 text-center">
                                    <label>Signature of Depositor</label>
                                </div>
                                <div class="col-md-2"></div>
                                <div class="col-md-3 text-center">
                                    <label>Signature of Depositor</label>
                                </div>
                            </div>

                            <hr class="mt-1" style=" border:.5px solid;" />
                            <div class="row">
                                <div class="col-md-12">
                                    <label>We have Debited/Credited the above account as instructed</label>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-md-3 text-center">
                                    <label>Signature Verified</label>
                                </div>
                                <div class="col-md-3 text-center">
                                    <label>Posted By</label>
                                </div>
                                <div class="col-md-2">
                                    <label></label>
                                </div>
                                <div class="col-md-3 text-right">
                                    <label>Approved By</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-control">
                                    <label>Distribution : Copy 1 - DepositorCopy</label><label class="pull-right">2 - Accounting Division</label>
                                </div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-md-3"></div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <button class="btn bg-addbutton form-control black px-0"><b>Save</b></button>
                                        </div>
                                        <div class="col-md-4">
                                            <button class="btn bg-addbutton form-control black px-0"><b>Print</b></button>
                                        </div>
                                        <div class="col-md-4">
                                            <button class="btn bg-addbutton form-control black px-0"><b>Cancel</b></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




