@model TOSS_UPGRADE.Models.FM_CollectionAndDeposit.FM_CollectionAndDeposit_AssignmentAF
@{
    DB_TOSSEntities SISDB = new DB_TOSSEntities();
}
@using TOSS_UPGRADE.Models;
<div class="row">
    <div class="col-md-4 form-group">
        <label class="mt-1">Quantity</label>
        @Html.TextBoxFor(m => m.AccountableTCTRORQuantityID, new { @class = "form-control", type = "text", @disabled = "disabled" })
    </div>
    <div class="col-md-4 form-group">
        <label class="mt-1">Starting OR</label>
        @Html.TextBoxFor(m => m.AccountableTCTRORStartingORID, new { @class = "form-control", type = "text", @disabled = "disabled" })
    </div>
    <div class="col-md-4 form-group">
        <label class="mt-1">Ending OR</label>
        @Html.TextBoxFor(m => m.AccountableTCTROREndingORID, new { @class = "form-control", type = "text", @disabled = "disabled" })
    </div>
</div>
