<div class="row">
    <div class="col-md-4 form-group" id="_DynamicMainCollectorID">
    </div>
    <div class="col-md-4 form-group" id="_DynamicSubCollectorID">
    </div>
    <div class="col-md-4 form-group">
        <label class="mt-1">Stub No</label>
        <select class="form-control">
            <option></option>
        </select>
    </div>
</div>
<div class="row">
    <div class="col-md-4 form-group">
        <label class="mt-1">Quantity</label>
        <input type="text" class="form-control" value="" />
    </div>
    <div class="col-md-4 form-group">
        <label class="mt-1">Starting OR</label>
        <input type="text" class="form-control" value="" />
    </div>
    <div class="col-md-4 form-group">
        <label class="mt-1">Ending OR</label>
        <input type="text" class="form-control" value="" />
    </div>
</div>
<div class="row">
    <div class="col-md-10"></div>
    <div class="col-md-2">
        <button class="btn bg-addbutton form-control black"><b>Assign</b></button>
    </div>
</div>