@model TOSS_UPGRADE.Models.FM_CollectionAndDeposit.FM_CollectionAndDeposit_AssignmentAF
@{
    DB_TOSSEntities SISDB = new DB_TOSSEntities();
}
@using TOSS_UPGRADE.Models;


@using (Ajax.BeginForm("AddTransferReturnOR", "FileMaintenanceCollectionDeposit", new AjaxOptions { OnSuccess = "AngularGlobalAlertsCallingNoModal('FMCollectionDepositController','Get_TransferReturnORTable','Successfully Saved')", OnFailure = "OnFailure()", }))
{
    @Html.HiddenFor(m => m.AccountableTCTRORID, new { })
    <div class="row">
        <div class="col-md-4 form-group" id="_DynamicMainCollectorID">
        </div>
        <div class="col-md-4 form-group" id="_DynamicSubCollectorID">
        </div>
        <div class="col-md-4 form-group" id="_DynamicStubNoID">
        </div>
    </div>
    <div id="_TransferReturnORIDPV">
    </div>
    <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-2">
            <button class="btn bg-addbutton form-control black" type="submit"><b>Assign</b></button>
        </div>
    </div>
}
<script>
    $(function () {
        LoadDataTable();
        LoadPopOver();
    })
</script>
