@model TOSS_UPGRADE.Models.FM_Funds.FM_Fund
@{
    DB_TOSSEntities SISDB = new DB_TOSSEntities();
}
@using TOSS_UPGRADE.Models;

@using (Ajax.BeginForm("AddSubFunds", "FileMaintenanceFund", new AjaxOptions { OnSuccess = "AngularGlobalAlertsCallingNoModalNoSuccessWithDoubleFunc('FMFundController','Get_SubFundTables','SuccessMessageBox')", OnFailure = "OnFailure()", }))
{

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3" id="_DynamicFund">

        </div>
        <div class="col-md-3">
            <label class="mt-1"><b>Sub Fund</b></label>
            @Html.TextBoxFor(m => m.getSubFundcolumns.SubFundName, new { @class = "form-control", type = "text", placeholder = "Enter Sub Fund Name" })
        </div>
        <div class="col-md-2">
            <label class="mt-1" style="visibility:hidden"><b>Fund</b></label>
            <button type="submit" class="btn bg-addbutton form-control black">
                <b>Add</b>
            </button>
        </div>
        <div class="col-md-2">
            <label class="mt-1" style="visibility:hidden"><b>Fund</b></label>
            <button type="reset" class="btn bg-headerbc form-control white">
                <b>Cancel</b>
            </button>
        </div>
    </div>
}
<script>
    $(function () {
        LoadDataTable();
        LoadPopOver();
    })
</script>