
@{
    ViewBag.Title = "Fund";
}
<script>
    $("#fmFund").addClass("active");
</script>

<div class="content-header row">
    <div class="content-header-left col-md-6 mb-2">
        <h3 class="content-header-title"><b>File Maintenance - Fund</b></h3>
    </div>
</div>
<div class="card-content" id="FMFundController" ng-controller="FMFundController" ng-init="InitAllFunction();">

    <div class="card">
        <ul class="nav nav-tabs bg-headerbc nav-underline">
            <li class="nav-item">
                <a class="nav-link active" id="base-tab1" data-toggle="pill" aria-controls="tab1" href="#tab1" aria-expanded="true"><b>Fund</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="base-tab2" data-toggle="tab" aria-controls="tab2" href="#tab2" aria-expanded="false"><b>Sub Fund</b></a>
            </li>
        </ul>
        <div class="tab-content px-1 pt-1">
            @* Fund *@
            <div role="tabpanel" class="tab-pane active" id="tab1" aria-expanded="true" aria-labelledby="base-tab1">
                <div class="content-body">
                    <div class="row black">
                        <div class="col-md-2"></div>
                        <div class="col-md-8" id="FundID">

                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-md-2"></div>
                        <div class="col-md-8" id="FundTableID">
                        </div>
                    </div>
                </div>
            </div>
            @* Sub Fund *@
            <div role="tabpanel" class="tab-pane" id="tab2" aria-expanded="true" aria-labelledby="base-tab2">
                <div class="content-body">
                    <div class="row black">
                        <div class="col-md-12" id="SubFundID">
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-md-1"></div>
                        <div class="col-md-10" id="SubFundTableID">
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
@*Angular Function*@
    app.controller('FMFundController', function ($scope, $http, $sce) {
        var F = $scope, P = $http, D = $sce.trustAsHtml;
        F.InitAllFunction = function () {
            //Fund
            F.Get_FundTables();
            //Sub Fund
            F.Get_SubFundTables();
            
        }
        @* Message Box *@
        F.SuccessMessageBox = function () {
            var SuccessMess = F.P;
            swalSuccess("Successfully Added", SuccessMess);
        }
        F.UpdateMessageBox = function () {
            var SuccessMess = F.P;
            swalSuccess("Successfully Update", SuccessMess);
        }
        F.DeleteMessageBox = function () {
            var SuccessMess = F.P;
            swalSuccess("Successfully Deleted", SuccessMess);
        }
        @*Fund*@
        F.Get_FundTables = function () {
            P({
                url: '/FileMaintenanceFund/Get_FundTable',
            }).then(function (response) {
                $("#FundTableID").html(response.data);
                });
            F.Get_AddFunds();
        }
        F.Get_AddFunds = function () {
            P({
                url: '/FileMaintenanceFund/Get_AddFund',
            }).then(function (response) {
                $("#FundID").html(response.data);
                F.LoadDynamicDDFund();
            });
        }
        F.Get_UpdateFunds = function (FundID) {
            P({
                url: '/FileMaintenanceFund/Get_UpdateFund',
                params: { FundID: FundID }
            }).then(function (response) {
                $("#FundID").html(response.data);
            });
        }
        F.Get_DeleteFunds = function (FundID) {
            P({
                url: '/FileMaintenanceFund/DeleteFunds',
                params: { FundID: FundID }
            }).then(function (response) {
                F.Get_FundTables();
            });
        }
        @* Sub Fund *@
        F.LoadDynamicDDFund = function () {
            P({
                url: '/FileMaintenanceFund/GetDynamicFund',
            }).then(function (response) {
                $("#_DynamicFund").html(response.data);
            });
        }
        F.Get_SubFundTables = function () {
            P({
                url: '/FileMaintenanceFund/Get_SubFundTable',
            }).then(function (response) {
                $("#SubFundTableID").html(response.data);
            });
            F.Get_AddSubFunds();
        }
        F.Get_AddSubFunds = function () {
            P({
                url: '/FileMaintenanceFund/Get_AddSubFund',
            }).then(function (response) {
                $("#SubFundID").html(response.data);
                F.LoadDynamicDDFund();
            });
        }
        F.Get_DeleteSubFunds = function (SubFundID) {
            P({
                url: '/FileMaintenanceFund/DeleteSubFunds',
                params: { SubFundID: SubFundID }
            }).then(function (response) {
                F.Get_SubFundTables();
            });
        }
        F.Get_UpdateSubFunds = function (SubFundID) {
            P({
                url: '/FileMaintenanceFund/Get_UpdateSubFund',
                params: { SubFundID: SubFundID }
            }).then(function (response) {
                $("#SubFundID").html(response.data);
                F.LoadSelectedDynamicDDFund();
            });
        }
        F.LoadSelectedDynamicDDFund = function () {
            var FundIDTempID = $("#FundIDTempID").val();
            P({
                url: '/FileMaintenanceFund/GetSelectedDynamicFund',
                params: { FundIDTempID: FundIDTempID }
            }).then(function (response) {
                $("#_DynamicFund").html(response.data);
            });
        }
    });
</script>