@model TOSS_UPGRADE.Models.FM_Disbursement.FM_Disbursement_CheckMaintenance
@{
    DB_TOSSEntities TOSSDB = new DB_TOSSEntities();
}
@using TOSS_UPGRADE.Models;
<div class="row">
    <div class="col-md-4 form-group">
        <label>Quantity</label>
        <input type="text" class="form-control" value="" />
    </div>
    <div class="col-md-4 form-group">
        <label>Starting Check No.</label>
       
    </div>
    <div class="col-md-4 form-group">
        <label>Ending Check No.</label>
        <input type="text" class="form-control" value="" />
    </div>
</div>
