@model TOSS_UPGRADE.Models.FM_Disbursement.FM_Disbursement_DVType
@{
                /**/

                DB_TOSSEntities SISDB = new DB_TOSSEntities();
}
@using TOSS_UPGRADE.Models;


@using (Ajax.BeginForm("AddDVType", "FileMaintenanceDisbursement", new AjaxOptions { OnSuccess = "AngularGlobalAlertsCallingNoModal('FMDisbursementController','Get_DVTypeTable','Disbursement Voucher Type Name Successfully Saved')", OnFailure = "OnFailure()", }))
{
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-6 form-group">
        <label>Type</label>
        @Html.TextBoxFor(m => m.getDVTypecolumns.DVTypeName, new { @class = "form-control", type = "text" })
    </div>
    <div class="col-md-2 ">
        <label style="visibility:hidden">Hide</label><br />
        <button type="submit" class="btn black bg-addbutton form-control"><b>Save</b></button>
    </div>
</div>
}
<script>
    $(function () {
        LoadDataTable();
        LoadPopOver();
    })
</script>