@model TOSS_UPGRADE.Models.FM_Disbursement.FM_Disbursement_DVType
@{
    DB_TOSSEntities SISDB = new DB_TOSSEntities();
}
@using TOSS_UPGRADE.Models;


@using (Ajax.BeginForm("UpdateDVType", "FileMaintenanceDisbursement", new AjaxOptions { OnSuccess = "AngularGlobalAlertsCallingNoModal('FMDisbursementController','Get_DVTypeTable','Disbursement Voucher Type Name Updating Successfully')", OnFailure = "OnFailure()", }))
{
<div class="row">
    <div class="col-md-2"></div>
    @Html.HiddenFor(m => m.getDVTypecolumns.DVTypeID, new { })
    <div class="col-md-4 form-group">
        <label>Type</label>
        @Html.TextBoxFor(m => m.getDVTypecolumns.DVTypeName, new { @class = "form-control", type = "text" })
    </div>
    <div class="col-md-2 ">
        <label style="visibility:hidden">Hide</label><br />
        <button type="submit" class="btn black bg-addbutton form-control"><b>Update</b></button>
    </div>
    <div class="col-md-2">
        <label style="visibility:hidden">Hide</label><br />
        <button type="reset" class="btn bg-headerbc white form-control" onclick="AngularGlobalEdit('FMDisbursementController','Get_AddDVType','')"><b>Cancel</b></button>
    </div>
</div>
}
<script>
    $(function () {
        LoadDataTable();
        LoadPopOver();
    })
</script>
