<div class="row">
    <div class="col-md-4 form-group" id="_ORAFID">
    </div>
    <div class="col-md-4 form-group">
        <label>Starting Stub No.</label>
        <input type="text" class="form-control" value="" />
    </div>
    <div class="col-md-4 form-group">
        <label>Quantity</label>
        <input type="text" class="form-control" value="" />
    </div>
</div>
<div class="row">
    <div class="col-md-4 form-group">
        <label>Starting OR</label>
        <input type="text" class="form-control" value="" />
    </div>
    <div class="col-md-4 form-group">
        <label>Ending OR</label>
        <input type="text" class="form-control" value="" />
    </div>
    <div class="col-md-4 form-group">
        <label>OR Date</label>
        <input name="name" value="" class="form-control pickadate ui-datepicker" />
    </div>
</div>
<div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-4 text-right"><button class="btn black bg-addbutton"><b>Save</b></button></div>
</div>
