@model TOSS_UPGRADE.Models.FM_GeneralReference_BankAccount
@{
    DB_TOSSEntities SISDB = new DB_TOSSEntities();
}
@using TOSS_UPGRADE.Models;


@using (Ajax.BeginForm("", "FileMaintenanceGeneralReference", new AjaxOptions { OnSuccess = "AngularGlobalAlertsCallingNoModalNoSuccessWithDoubleFunc('FMGeneralReferenceController','','')", OnFailure = "OnFailure()", }))
{
    <div class="row">
        <div class="col-md-5 form-group" id="BankDivID">

        </div>
        <div class="col-md-3 form-group">
            <label>Fund Type</label>
            @Html.DropDownListFor(m => m.FundID, Model.FundNameList, new { @class = "form-control select2", id = "FundNameListID2", onchange = "CurrentAccountConcate() " })
        </div>
        <div class="col-md-4 form-group">
            <label>Current Account</label>
            <input type="text" class="form-control" value="" id="CurrentAccountID" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-5 form-group" id="AccountCodeDivID">

        </div>
        <div class="col-md-3 form-group">
            <label>Account Name</label>
            <input type="text" class="form-control" value="" />
        </div>
        <div class="col-md-4 form-group">
            <label>Account No</label>
            <input type="text" class="form-control" value="" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-5 form-group" id="AccountTypeDivID">
        </div>
        <div class="col-md-2">
            <label style="visibility:hidden">New Bank</label>
            <button type="button" class="form-control bg-addbutton black"><b>New Account</b></button>
        </div>
        <div class="col-md-1 form-group">

        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-6">
                    <label style="visibility:hidden">New Bank</label>
                    <button type="button" class="btn bg-addbutton black form-control"><b>Save</b></button>
                </div>
                <div class="col-md-6">
                    <label style="visibility:hidden">New Bank</label>
                    <button type="button" class="btn bg-headerbc black form-control"><b>Cancel</b></button>
                </div>
            </div>
        </div>

    </div>
}

<script>
    $(function () {
        LoadDataTable();
        LoadPopOver();
        CurrentAccountConcate();
    })
   
</script>