@model TOSS_UPGRADE.Models.FM_GeneralReference_BankAccount
@{
    DB_TOSSEntities SISDB = new DB_TOSSEntities();
}
@using TOSS_UPGRADE.Models;
@using (Ajax.BeginForm("AddAccountType", "FileMaintenanceGeneralReference", new AjaxOptions { OnSuccess = "AngularGlobalAlertsCallingNoModalNoSuccessWithTripleFunc('FMGeneralReferenceController', 'Get_AccountTypeTable',  'LoadDynamicDDAccountType','SuccessSave2')", OnFailure = "OnFailure()", }))
{
<div class="row">
    <div class="col-md-8 form-group">
        <label>Account Type</label>
        @Html.TextBoxFor(m => m.getAccountTypeColumns.AccountType, new { @class = "form-control", type = "text" })
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-3">
        <label style="visibility:hidden">Particulars</label>
        <button type="submit" class="btn bg-addbutton black form-control"><b>Save</b></button>
    </div>
</div>
}
<script>

    $(function () {
        LoadDataTable();
        LoadPopOver();
    })
</script>