@model TOSS_UPGRADE.Models.FM_GeneralReference_BankAccount
@{
    DB_TOSSEntities SISDB = new DB_TOSSEntities();
}
@using TOSS_UPGRADE.Models;
@using (Ajax.BeginForm("UpdateAccountType", "FileMaintenanceGeneralReference", new AjaxOptions { OnSuccess = "AngularGlobalAlertsCallingNoModalNoSuccessWithTripleFunc('FMGeneralReferenceController', 'Get_AccountTypeTable',  'LoadDynamicDDAccountType','SuccessUpdate')", OnFailure = "OnFailure()", }))
{
    <div class="row">
        @Html.HiddenFor(m => m.getAccountTypeColumns.AccountTypeID, new { })
        <div class="col-md-7 pr-0 mr-1 form-group">
            <label>Account Type</label>
            @Html.TextBoxFor(m => m.getAccountTypeColumns.AccountType, new { @class = "form-control", type = "text" })
        </div>
        <div class="col-md-2 px-0 mr-1">
            <label style="visibility:hidden">Particulars</label>
            <button type="submit" class="btn bg-addbutton black form-control"><b>Save</b></button>
        </div>
        <div class="col-md-2 px-0">
            <label style="visibility:hidden">Particulars</label>
            <button type="reset" class="btn bg-headerbc form-control black" onclick="AngularGlobalEdit('FMGeneralReferenceController','Get_AddAccountType','')"><b>Cancel</b></button>
        </div>
    </div>
}
<script>

    $(function () {
        LoadDataTable();
        LoadPopOver();
    })
</script>
