@model TOSS_UPGRADE.Models.FM_GeneralReference.FM_GeneralReference_MemoAccountClass
@{
    DB_TOSSEntities TOSSDB = new DB_TOSSEntities();
}
@using TOSS_UPGRADE.Models;


<label>Classification</label>
@Html.DropDownListFor(m => m.getMMAccountTitleColumns.AccountTitle, Model.MMAccountTitleList, new { @class = "form-control select2", id = "FundTypeIDDD" })