@model TOSS_UPGRADE.Models.FM_GeneralReference.FM_GeneralReference_MemoAccountClass
@{
    DB_TOSSEntities TOSSDB = new DB_TOSSEntities();
}
@using TOSS_UPGRADE.Models;


<label>Revision Year</label>
@Html.DropDownListFor(m => m.MMRevisionYrID, Model.MMRevisionYearList, new { @class = "form-control select2", id = "MMRevisionYrIDDD" })
