@model TOSS_UPGRADE.Models.FM_GeneralReference.FM_GeneralReference_MemoAccountClass
@{
    DB_TOSSEntities SISDB = new DB_TOSSEntities();
}
@using TOSS_UPGRADE.Models;


@using (Ajax.BeginForm("UpdateMemoAccount", "FileMaintenanceGeneralReference", new AjaxOptions { OnSuccess = "AngularGlobalAlertsCallingNoModal('FMGeneralReferenceController','Get_MemoAccountClassTable','Memo Account Classification Successfully Updated')", OnFailure = "OnFailure()", }))
{
    @Html.HiddenFor(m => m.MemoAccClassID, new { })
    @Html.HiddenFor(m => m.MMAccountTitleTempID, new { id = "MMAccountTitleIDTempID" })
    @Html.HiddenFor(m => m.MMRevisionYrTempID, new { id = "MMRevisionYrIDTempID" })
    <div class="row">
        <div class="col-md-2 form-group" id="MemoAccClass_RevisionYrID">

        </div>
        <div class="col-md-6 form-group" id="MemoAccClass_AccountTitleDD">

        </div>
        <div class="col-md-2 ">
            <label style="visibility:hidden">Hide</label><br />
            <button type="submit" class="btn black bg-addbutton form-control"><b>Save</b></button>
        </div>
        <div class="col-md-2">
            <label style="visibility:hidden">Hide</label><br />
            <button type="reset" class="btn bg-headerbc white form-control" onclick="AngularGlobalEdit('FMGeneralReferenceController','Get_AddMemoAccClassTable','')"><b>Cancel</b></button>
        </div>
    </div>
}
<script>
    $(function () {
        LoadDataTable();
        LoadPopOver();
    })
</script>
