@model TOSS_UPGRADE.Models.FM_CollectionAndDeposit.FM_CollectionAndDeposit_AssignmentAF
@{
    DB_TOSSEntities TOSSDB = new DB_TOSSEntities();
}
@using TOSS_UPGRADE.Models;

<label>Collecting Officer</label>
@Html.DropDownListFor(m => m.AccountableFACollectorID, Model.AccountableFormAssignmentList, new { @class = "form-control select2", id = "COIDDDFC" })

