@model TOSS_UPGRADE.Models.FM_CollectionAndDeposit.FM_CollectionAndDeposit_AccountableForm
@{
    /**/

    DB_TOSSEntities SISDB = new DB_TOSSEntities();
}
@using TOSS_UPGRADE.Models;

@using (Ajax.BeginForm("AddAccountableForm", "FileMaintenanceCollectionDeposit", new AjaxOptions { OnSuccess = "AngularGlobalAlertsCallingNoModal('FMCollectionDepositController','Get_AccountableFormTable','Accountable Form Successfully Saved')", OnFailure = "OnFailure()", }))
{
<div class="row">
    <div class="col-md-3 form-group">
        <label>Accountable Form</label>
        @Html.TextBoxFor(m => m.getAccountableFormcolumns.AccountFormName, new { @class = "form-control", type = "text" })
    </div>
    <div class="col-md-2 form-group row skin skin-square">
        <label style="visibility:hidden">Accountable Form</label>
        <fieldset>
            @Html.CheckBoxFor(m => m.getAccountableFormcolumns.isCTC, new { @class = "form-control icheckbox_square-red", type = "checkbox"})
            <label>For CTC</label>
        </fieldset>
    </div>
    <div class="col-md-5 px-0 mx-1 form-group" id="_DescriptionID">

    </div>
    <div class="col-md-1 px-0 mx-1">
        <label style="visibility:hidden">Description</label>
        <button type="submit" class="btn bg-addbutton black form-control"><b>Save</b></button>
    </div>
</div>
    }

    <script>
        $(function () {
            LoadDataTable();
            LoadPopOver();
        })
    </script>
