@model TOSS_UPGRADE.Models.FM_CollectionAndDeposit.FM_CollectionAndDeposit_AccountableForm
@{
    /**/

    DB_TOSSEntities SISDB = new DB_TOSSEntities();
}
@using TOSS_UPGRADE.Models;

@using (Ajax.BeginForm("UpdateAccountableForm", "FileMaintenanceCollectionDeposit", new AjaxOptions { OnSuccess = "AngularGlobalAlertsCallingNoModal('FMCollectionDepositController','Get_CheckInventoryTable','Accountable Form Update Successfully')", OnFailure = "OnFailure()", }))
{
<div class="row">
    @Html.HiddenFor(m => m.getAccountableFormcolumns.AccountFormID, new { })
    <div class="col-md-3 form-group ml-4">
        <label>Accountable Form</label>
        @Html.TextBoxFor(m => m.getAccountableFormcolumns.AccountFormName, new { @class = "form-control", type = "text" })
    </div>
    <div class="col-md-2 form-group row skin skin-square">
        <label style="visibility:hidden">Accountable Form</label>
        <fieldset>
            @Html.CheckBoxFor(m => m.getAccountableFormcolumns.isCTC, new { @class = "form-control icheckbox_square-red", type = "checkbox" })
            <label>For CTC</label>
        </fieldset>
    </div>
    <div class="col-md-3 px-0 mx-1 form-group">
        <label>Description</label>
        @Html.TextBoxFor(m => m.getAccountableFormcolumns.Description, new { @class = "form-control", type = "text" })
    </div>
    <div class="col-md-1 px-0 mx-1">
        <label style="visibility:hidden">Description</label>
        <button type="submit" class="btn bg-addbutton black form-control"><b>Save</b></button>
    </div>
    <div class="col-md-1 px-0 mx-1">
        <label style="visibility:hidden">Description</label>
        <button type="reset" class="btn bg-headerbc black form-control" onclick="AngularGlobalEdit('FMCollectionDepositController','Get_AddAccountableForm','')"><b>Cancel</b></button>
    </div>
</div>
}

<script>
        $(function () {
            LoadDataTable();
            LoadPopOver();
        })
</script>

